@using EPR.RegulatorService.Frontend.Core.Enums.ReprocessorExporter
@using EPR.RegulatorService.Frontend.Web.Extensions
@using EPR.RegulatorService.Frontend.Web.ViewModels.ReprocessorExporter.Registrations.RegistrationStatus
@using EPR.RegulatorService.Frontend.Web.ViewModels.Shared.GovUK

@{
  ViewData["Title"] = "Payment received";
	var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
}

@model PaymentCheckViewModel

<div class="govuk-width-container ">
  <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <fieldset class="govuk-fieldset">
          <legend>
            <h1 class="govuk-heading-l">
              @if (Model.ApplicationType == ApplicationOrganisationType.Reprocessor)
              {
                <span class="govuk-caption-l">@Model.OrganisationName: @Model.SiteAddress</span>
              }
              Has full payment of @Model.FeeAmount.ToDisplayCurrency() been received?
            </h1>
          </legend>

          @if (!ViewData.ModelState.IsValid)
          {
            @await Html.PartialAsync("Partials/Govuk/_ErrorSummary", errorsViewModel)
          }

          <form asp-controller="RegistrationStatus" asp-action="PaymentCheck" method="post">
            <div class="govuk-form-group@(!ViewData.ModelState.IsValid ? " govuk-form-group--error" : "")">

              @await Html.PartialAsync("Partials/Govuk/_ErrorList", errorsViewModel)
              <div class="govuk-radios govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="FullPaymentMade" name="FullPaymentMade" type="radio" value="true" @(Model.FullPaymentMade == true ? "checked" : "")>
                  <label class="govuk-label govuk-radios__label" for="FullPaymentMade">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="FullPaymentMade_False" name="FullPaymentMade" type="radio" value="false" @(Model.FullPaymentMade == false ? "checked" : "")>
                  <label class="govuk-label govuk-radios__label" for="FullPaymentMade_False">
                    No
                  </label>
                </div>
              </div>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
              Continue
            </button>
          </form>
        </fieldset>
      </div>
    </div>
  </main>
</div>
