@using EPR.RegulatorService.Frontend.Core.Enums.ReprocessorExporter
@using EPR.RegulatorService.Frontend.Web.Extensions
@using EPR.RegulatorService.Frontend.Web.ViewModels.ReprocessorExporter.Accreditations.AccreditationStatus
@using EPR.RegulatorService.Frontend.Web.ViewModels.Shared.GovUK

@model PaymentDateViewModel

@{
	ViewData["Title"] = "Payment date";
	var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
}

<div class="govuk-width-container ">
  <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
        
        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              @if (Model.ApplicationType == ApplicationOrganisationType.Reprocessor)
              {
                <span class="govuk-caption-l">@Model.OrganisationName: @Model.SiteAddress</span>
              }
              Date payment received
            </h1>
          </legend>
            
          @if (!ViewData.ModelState.IsValid)
          {
            @await Html.PartialAsync("Partials/Govuk/_ErrorSummary", errorsViewModel)
          }		  

		 <form asp-controller="AccreditationStatus" asp-action="PaymentDate" method="post">
            <div class="govuk-form-group@(!ViewData.ModelState.IsValid ? " govuk-form-group--error" : "")">
                
              @await Html.PartialAsync("Partials/Govuk/_ErrorList", errorsViewModel)

              <div id="passport-issued-hint" class="govuk-hint">
                For example, 27 3 2007
              </div>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="payment-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="payment-day" name="Day" value="@Model.Day" type="text" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="payment-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="payment-month" name="Month" value="@Model.Month" type="text" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="payment-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="payment-year" name="Year" value="@Model.Year" type="text" inputmode="numeric">
                  </div>
                </div>
              </div>
            </div>

						<input type="hidden" asp-for="ApplicationType" />
						<input type="hidden" asp-for="OrganisationName" />
						<input type="hidden" asp-for="SiteAddress" />

            
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Continue
            </button>
          </form>
        </fieldset>
      </div>
    </div>
  </main>
</div>
