@using EPR.RegulatorService.Frontend.Web.Configs;
@using Microsoft.FeatureManagement

@inject IFeatureManager _featureManager
@model string

@{
	bool showFooter = await _featureManager.IsEnabledAsync(FeatureFlags.ShowYourFeedbackFooter);
	var email = "eprcustomerservice@defra.gov.uk";
	var privacyLink = "https://www.gov.uk/guidance/extended-producer-responsibility-for-packaging-privacy-policy";
	var accessibilityLink = "https://www.gov.uk/guidance/extended-producer-responsibility-for-packaging-accessibility-statement";

	string DecorateUrl(string url)
	{
		var cultureCode = this.Output.FormatProvider.ToString() switch
		{
			"en" => string.Empty,
			_ => $".{this.Output.FormatProvider.ToString()}",
		};

		return $"{url}{cultureCode}";
	}
}

<footer class="govuk-footer" role="contentinfo">
	<div class="govuk-width-container">
		@if (showFooter)
		{
			<div class="govuk-footer__navigation">
				<h2 class="govuk-!-margin-top-3 govuk-footer__heading govuk-heading-m">@Localizer["Footer.GetHelp"]</h2>
				<div class="govuk-footer__section govuk-grid-column-two-thirds">
					<ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-7">
						<li>@Localizer["Footer.Email"]: <a href="mailto:@email">@email</a></li>
						<li>@Localizer["Footer.Phone"]: 0300 060 0002</li>
						<li>@Localizer["Footer.CustomerServiceTimes"]</li>
					</ul>
				</div>
				<div class="govuk-footer__section govuk-grid-column-one-thirds">
					<p class="govuk-body">
						<a class="govuk-footer__link" href="https://defragroup.eu.qualtrics.com/jfe/form/SV_e5HK8ijKACZGi1M" rel="noreferrer noopener" target="_blank">@Localizer["Footer.ReportAProblem"]</a>
					</p>
					<p class="govuk-body">
						<a class="govuk-footer__link" href="https://defragroup.eu.qualtrics.com/jfe/form/SV_a2Bm7vw3cht5B6C" rel="noreferrer noopener" target="_blank">@Localizer["Footer.GiveFeedback"]</a>
					</p>
				</div>
			</div>
			<hr class="govuk-footer__section-break" />
		}
		<div class="govuk-footer__meta">
			<div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
				<h2 class="govuk-!-margin-top-3">@Localizer["Footer.GetHelp"]</h2>
				<ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-7">
					<li>@Localizer["Footer.Email"]: <a href="mailto:@email">@email</a></li>
					<li>@Localizer["Footer.Phone"]: 0300 060 0002</li>
					<li>@Localizer["Footer.CustomerServiceTimes"]</li>
				</ul>
				<h2 class="govuk-visually-hidden">Support links</h2>
				<ul class="govuk-footer__inline-list">
					<li class="govuk-footer__inline-list-item">
						<a class="govuk-footer__link" asp-controller="Cookies" asp-action="Detail" asp-route-returnurl="@Model">@Localizer["Footer.Cookies"]</a>
					</li>
					<li class="govuk-footer__inline-list-item">
						<a class="govuk-footer__link" href="@DecorateUrl(privacyLink)" target="_blank" rel="noopener noreferrer">@Localizer["Footer.Privacy"]</a>
					</li>
					<li class="govuk-footer__inline-list-item">
						<a class="govuk-footer__link" href="@DecorateUrl(accessibilityLink)" target="_blank" rel="noopener noreferrer">@Localizer["Footer.Accessibility"]</a>
					</li>
				</ul>
				<svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
					<path fill="currentColor" d="..." />
				</svg>
				<span class="govuk-footer__licence-description">
					@Localizer["Footer.AllContent"]
					<a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">@Localizer["Footer.OpenGovernment"]</a>, @Localizer["Footer.ExceptWhere"]
				</span>
			</div>
			<div class="govuk-footer__meta-item">
				<a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">&copy; @Localizer["Footer.CrownCopyright"]</a>
			</div>
		</div>
	</div>
</footer>
