@using EPR.RegulatorService.Frontend.Core.Enums
@using EPR.RegulatorService.Frontend.Core.Extensions
@using EPR.RegulatorService.Frontend.Web.Extensions
@using EPR.RegulatorService.Frontend.Web.Helpers.ManageRegistrationSubmissions
@using EPR.RegulatorService.Frontend.Web.ViewModels.ManageRegistrationSubmissions
@using EPR.RegulatorService.Frontend.Web.ViewModels.Shared.GovUK
@model RegistrationSubmissionDetailsViewModel

@{
    ViewData["Title"] = Localizer["RegistrationSubmissionDetails.PageTitle"];
    var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <span class="govuk-caption-xl">
                    @Localizer["RegistrationSubmissionDetails.Caption"]
                </span>
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-4" for="@nameof(Model.OrganisationName)">
                    @Model.OrganisationName
                </h1>
                @if (!ViewData.ModelState.IsValid)
                {
                    @await Html.PartialAsync("Partials/Govuk/_ErrorSummary", errorsViewModel)
                }
                <div class="govuk-!-margin-bottom-4">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">@Localizer["RegistrationSubmissionDetails.OrganisationType"]</h3>
                    <p class="govuk-body">@SharedLocalizer[Model.OrganisationType.GetDescription()]</p>
                </div>

                <div class="govuk-!-margin-bottom-4">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">@Localizer["RegistrationSubmissionDetails.OrganisationIdTitle"]</h3>
                    <p class="govuk-body">@Localizer["RegistrationSubmissionDetails.OrganisationIdSubTitle"] @Model.OrganisationReference</p>
                </div>

                @if (Model.SubmissionStatus == RegistrationSubmissionStatus.Granted && Model.IsResubmission)
                {
                    @await Html.PartialAsync("Partials/_ResubmissionReferenceNumberPanel", Model)
                }
                else
                {
                    @await Html.PartialAsync("Partials/_SubmissionReferenceNumberPanel", Model)
                }

                @await Html.PartialAsync("Partials/_Address", Model)

                @await Html.PartialAsync("Partials/_CompaniesHouse", Model)

                @await Html.PartialAsync("Partials/_SubmissionDetails", Model)

                @await Html.PartialAsync("Partials/_ProducerComment", Model)

                @await Html.PartialAsync("Partials/_RegulatorComment", Model)

                @if (Model.IsResubmission)
                {
                    @await Html.PartialAsync("Partials/_RegistrationResubmissionActionButtons", Model)
                }
                else
                {
                    @await Html.PartialAsync("Partials/_RegistrationSubmissionActionButtons", Model)
                }

            </div>
            <div class="govuk-grid-column-full">
                <a href="@ViewBag.BackLinkToDisplay" class="govuk-link govuk-link--no-visited-state">
                    @Localizer["RegistrationSubmissionDetails.BackToAllSubmissions"]
                </a>
            </div>
        </div>
    </main>
</div>
