@using EPR.RegulatorService.Frontend.Core.Extensions
@using EPR.RegulatorService.Frontend.Web.ViewModels.RegistrationSubmissions

@model SubmissionDetailsViewModel

<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper" style="align-items: center;">
        <h2 class="govuk-summary-card__title">@Localizer["SubmissionDetails.Title"]</h2>
        <div style="padding-top: 20px;">
            <govuk-tag status="@Model.Status" content="@SharedLocalizer[Model.Status.GetDescription()]" />
            <p style="font-size: 16px; color:#505a5f; text-align: right;padding-top:10px;">@Model.DecisionDate</p>
        </div>
        <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
            </li>
        </ul>
    </div>
    <div class="govuk-summary-card__content" style="padding-bottom: 0px;">
        <dl class="govuk-summary-list govuk-!-margin-bottom-4">
            <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                    <strong>@Localizer["SubmissionDetails.TimeAndDateOfSubmission"]</strong>
                </dd>
                <dd class="govuk-summary-list__value">
                    @Model.TimeAndDateOfSubmission
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                    <strong>@Localizer["SubmissionDetails.SubmittedOnTime"]</strong>
                </dd>
                <dd class="govuk-summary-list__value">
                    @(Model.SubmittedOnTime ? @SharedLocalizer["Yes"] : @SharedLocalizer["No"])
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                    <strong>@Localizer["SubmissionDetails.SubmittedBy"]</strong>
                </dd>
                <dd class="govuk-summary-list__value">
                    @Model.SubmittedBy
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                    <strong>@Localizer["SubmissionDetails.AccountRole"]</strong>
                </dd>
                <dd class="govuk-summary-list__value">
                    @SharedLocalizer[Model.AccountRole.GetDescription()]
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                    <strong>@Localizer["SubmissionDetails.Telephone"]</strong>
                </dd>
                <dd class="govuk-summary-list__value">
                    @Model.Telephone
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                    <strong>@Localizer["SubmissionDetails.Email"]</strong>
                </dd>
                <dd class="govuk-summary-list__value">
                    @Model.Email
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                    <strong>@Localizer["SubmissionDetails.DeclaredBy"]</strong>
                </dd>
                <dd class="govuk-summary-list__value">
                    @Model.DeclaredBy
                </dd>
            </div>

            @foreach (var file in Model.Files)
            {
                <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__value">
                        <strong>@Localizer[file.Label]</strong>
                    </dd>
                    <dd class="govuk-summary-list__value">
                        @file.FileName
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link--no-visited-state" href="#">
                            @SharedLocalizer["Link.Download"]
                        </a>
                    </dd>
                </div>
            }

        </dl>

    </div>
</div>
