@addTagHelper *, Microsoft.FeatureManagement.AspNetCore

@model EPR.RegulatorService.Frontend.Core.Sessions.RemoveApprovedUserSession

@{
  ViewData["Title"] = Localizer["Page.Title", Model.UserNameToDelete, Model.OrganisationName];
}

<form id="removeUserForm" action="@Url.Action("NominationDecision", "RemoveApprovedUser", Model)"
      enctype="application/x-www-form-urlencoded" method="GET">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 id="pageTitle" class="govuk-heading-l govuk-!-margin-bottom-2">
            @Localizer["Page.Title", Model.UserNameToDelete, Model.OrganisationName]
          </h1>
          <div id="warningText" class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <span class="govuk-warning-text__text govuk-!-font-weight-regular">
              <span class="govuk-visually-hidden" style="font-weight: normal">Warning</span>
              @Localizer["Warning.Submit.Packaging"]
              <br/>
              <br/>
              @Localizer["Warning.Users"]
            </span>
          </div>
          <button id="continueButton" class="govuk-button" data-module="govuk-button" type="submit">
            @SharedLocalizer["Continue"]
          </button>
        </div>
      </div>
    </main>
  </div>
</form>
