@addTagHelper *, Microsoft.FeatureManagement.AspNetCore

@using EPR.RegulatorService.Frontend.Web.ViewModels.Shared.GovUK
@using EPR.RegulatorService.Frontend.Web.Extensions

@model EPR.RegulatorService.Frontend.Core.Sessions.AddRemoveApprovedUserSession

@{
  ViewData["Title"] = @Localizer["Page.Title"];
  var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
  const string errorClass = "govuk-input--error";
}

<form id="removeUserForm" action="@Url.Action("Submit", "RemoveApprovedUser", Model)"
      enctype="application/x-www-form-urlencoded" method="post">
  <input id="hiddenConnExternalId" type="hidden" value=@Model.ConnExternalId name="ConnExternalId"/>
  <input id="hiddenOrganisationId" type="hidden" value=@Model.ExternalOrganisationId name="OrganisationId"/>

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 id="pageTitle" class="govuk-fieldset__heading">
                  @Localizer["Page.Title"]
                </h1>
              </legend>
              <dl class="govuk-summary-list">
                @if (Model.NominationDecision != null)
                {
                  <div class="govuk-summary-list__row">
                    <dt id="userPrompt" class="govuk-summary-list__key">
                      @Localizer["Question.HasAnApprovedPersonBeenNominated"]
                    </dt>
                    <dd id="nominationDecision" class="govuk-summary-list__value">
                      @(Model.NominationDecision == true ? SharedLocalizer["Yes"] : SharedLocalizer["No"])
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a id="changeButton" class="govuk-link" href="@Url.Action("NominationDecision", "RemoveApprovedUser")">
                        @SharedLocalizer["Change"]
                      </a>
                    </dd>
                  </div>
                }
                @if (Model.NominationDecision != false && Model.NewApprovedUser != null)
                {
                  <div class="govuk-summary-list__row">
                    <dt id="userPrompt" class="govuk-summary-list__key">
                      @Localizer["Question.Name"]
                    </dt>
                    <dd id="nominationDecision" class="govuk-summary-list__value">
                      @Model.NewApprovedUser.FirstName @Model.NewApprovedUser.LastName <br/>
                      @Model.NewApprovedUser.Email
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a id="changeButton" class="govuk-link" href="@Url.Action("ApprovedPersonListPage", "RemoveApprovedUser")">
                        @SharedLocalizer["Change"]
                      </a>
                    </dd>
                  </div>
                }
              </dl>
            </fieldset>
          </div>
          <button id="continueButton" class="govuk-button" data-module="govuk-button" type="submit">
            @SharedLocalizer["Continue"]
          </button>
        </div>
      </div>
    </main>
  </div>
</form>
