@addTagHelper *, Microsoft.FeatureManagement.AspNetCore

@using EPR.RegulatorService.Frontend.Web.ViewModels.Shared.GovUK
@using EPR.RegulatorService.Frontend.Web.Extensions
@model EPR.RegulatorService.Frontend.Core.Sessions.RemoveApprovedUserSession

@{
  ViewData["Title"] = @Localizer["Page.Title"];
  var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
  const string errorClass = "govuk-input--error";
  var crsfToken = Html.AntiForgeryToken();
}

<form action="@Url.Action("Nomination", "RemoveApprovedUser", Model)"
      enctype="application/x-www-form-urlencoded" method="POST">
  <input type="hidden" name="crsfToken" value="@crsfToken" />
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div id="errorSummary" class="govuk-grid-column-full">
          @if (errorsViewModel.HasErrorKey(nameof(Model.NominationDecision)))
          {
            @await Html.PartialAsync("Partials/Govuk/_ErrorSummary", errorsViewModel)
          }
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <div class="govuk-form-group@(errorsViewModel.HasErrorKey(nameof(Model.NominationDecision)) ? " govuk-form-group--error" : "")">
                @await Html.PartialAsync("Partials/Govuk/_FormItemError", errorsViewModel[nameof(Model.NominationDecision)])
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 id="pageTitle"class="govuk-fieldset__heading">
                    @Localizer["Page.Title"]
                  </h1>
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input"
                           id="nominationDecisionYes"
                           name="nominationDecision"
                           type="radio"
                           aria-labelledby="radio-label-accepted-true"
                           gov-for="NominationDecision"
                           gov-first-option="true"
                           gov-value="true">
                    <label class="govuk-label govuk-radios__label"
                           for="nominationDecisionYes"
                           id="radio-label-accepted-true"
                           gov-for="NominationDecision"
                           gov-first-option="true"
                           gov-value="true">
                      @SharedLocalizer["Yes"]
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input"
                           id="nominationDecisionNo"
                           name="nominationDecision"
                           type="radio"
                           aria-labelledby="radio-label-accepted-false"
                           value="false"
                           gov-for="NominationDecision"
                           gov-first-option="false"
                           gov-value="false">
                    <label id="radio-label-accepted-false"
                           class="govuk-label govuk-radios__label"
                           for="nominationDecisionNo"
                           gov-for="NominationDecision"
                           gov-first-option="false"
                           gov-value="false">
                      @SharedLocalizer["No"]
                    </label>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <button id="continueButton" class="govuk-button" data-module="govuk-button" type="submit">
            @SharedLocalizer["Continue"]
          </button>
        </div>
      </div>
    </main>
  </div>
</form>
