@addTagHelper *, Microsoft.FeatureManagement.AspNetCore

@model EPR.RegulatorService.Frontend.Core.Sessions.RemoveApprovedUserSession

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            @Localizer["Page.Panel"]
          </h1>
        </div>
        <p class="govuk-body">
          @Localizer["Page.Title", Model.UserNameToDelete, Model.OrganisationName]
          </p>
        <h2 class="govuk-heading-m">@Localizer["Page.Heading"]</h2>

        <div class="govuk-inset-text">
          <p class="govuk-body">
            @Localizer["Confirmation.CannotSubmit.PackagingData"]
          </p>
          <p class="govuk-body">
            @Localizer["Confirmation.Nominate.ApprovedUser"]
          </p>
        </div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        @Html.ActionLink("Go to home",
          "LandingPage",
          "Home",
          null,
          new {@class = "govuk-body govuk-link govuk-link--no-visited-state"})
      </div>
    </div>

  </main>
</div>



