@using EPR.RegulatorService.Frontend.Web.ViewModels.ManageRegistrationSubmissions
@model RegistrationSubmissionDetailsViewModel

<div class="govuk-!-margin-bottom-4">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">@Localizer["RegistrationSubmissionDetails.RegisteredAddress"]</h3>
    <p class="govuk-body govuk-!-margin-bottom-0">@Model.BuildingNumber @Model.BuildingName</p>
    <p class="govuk-body govuk-!-margin-bottom-0">@Model.Street</p>
    <p class="govuk-body govuk-!-margin-bottom-0">@Model.County</p>
    <p class="govuk-body">@Model.Postcode</p>
</div>
