@using EPR.RegulatorService.Frontend.Web.Constants
@using EPR.RegulatorService.Frontend.Web.ViewModels.ManageRegistrationSubmissions
@using EPR.RegulatorService.Frontend.Core.Enums
@model RegistrationSubmissionDetailsViewModel

<div class="govuk-button-group">
    @if (Model.ResubmissionStatus == RegistrationSubmissionStatus.Pending
    && Model.SubmissionStatus == RegistrationSubmissionStatus.Granted)
    {
        <ul class="govuk-list govuk-list__horizontal govuk-list__last-spaced">
            <li>
                <a id="accept-data" class="govuk-button " href="@Url.Action(
                "GrantRegistrationSubmission",
                "RegistrationSubmissions",
                new
                {
                  submissionId = Model.SubmissionId
                })">
                    @Localizer["RegistrationResubmissionDetails.Approve"]
                </a>
            </li>
            <li>
                <a id="reject-data" class="govuk-button govuk-button--warning" href="@Url.Action(
                "RejectRegistrationSubmission",
                "RegistrationSubmissions",
                new
                {
                  submissionId = Model.SubmissionId
                })">
                    @Localizer["RegistrationResubmissionDetails.Reject"]
                </a>
            </li>
            <li>
                <a id="cancel-registration" class="govuk-button govuk-button--secondary" href="@Url.Action(
                "CancelRegistrationSubmission",
                "RegistrationSubmissions",
                new
                {
                  submissionId = Model.SubmissionId
                })">
                    @Localizer["RegistrationResubmissionDetails.Cancel"]
                </a>
            </li>
        </ul>
    }
    else if (Model.SubmissionStatus == RegistrationSubmissionStatus.Granted)
    {
        <a class="govuk-button govuk-button--secondary" href="@Url.Action(
                "CancelRegistrationSubmission",
                "RegistrationSubmissions",
                new
                {
                  submissionId = Model.SubmissionId
                })">
            @Localizer["RegistrationResubmissionDetails.Cancel"]
        </a>
    }
</div>
