@using EPR.RegulatorService.Frontend.Web.Constants
@using EPR.RegulatorService.Frontend.Web.ViewModels.ManageRegistrationSubmissions
@using EPR.RegulatorService.Frontend.Core.Enums
@model RegistrationSubmissionDetailsViewModel

<div class="govuk-button-group">
    @if (Model.SubmissionStatus == RegistrationSubmissionStatus.Queried ||
        Model.SubmissionStatus != RegistrationSubmissionStatus.Granted &&
        Model.SubmissionStatus != RegistrationSubmissionStatus.Refused &&
        Model.SubmissionStatus != RegistrationSubmissionStatus.Cancelled)
    {
        <ul class="govuk-list govuk-list__horizontal govuk-list__last-spaced">
            <li>
                <a class="govuk-button " href="@Url.Action(
                "GrantRegistrationSubmission",
                "RegistrationSubmissions",
                new
                {
                  submissionId = Model.SubmissionId
                })">
                    @Localizer["RegistrationSubmissionDetails.GrantRegistration"]
                </a>
            </li>
            <li>
                <a class="govuk-button govuk-button--inverse" href="@Url.Action(
                "QueryRegistrationSubmission",
                "RegistrationSubmissions",
                new
                {
                  submissionId= Model.SubmissionId
                })">
                    @Localizer["RegistrationSubmissionDetails.QueryRegistration"]
                </a>
            </li>
            <li>
                <a class="govuk-button govuk-button--warning" href="@Url.Action(
                "RejectRegistrationSubmission",
                "RegistrationSubmissions",
                new
                {
                  submissionId = Model.SubmissionId
                })">
                    @Localizer["RegistrationSubmissionDetails.RefuseRegistration"]
                </a>
            </li>
        </ul>
    }

    @if (Model.SubmissionStatus == RegistrationSubmissionStatus.Granted)
    {
        <a class="govuk-button govuk-button--secondary" href="@Url.Action(
                "CancelRegistrationSubmission",
                "RegistrationSubmissions",
                new
                {
                  submissionId = Model.SubmissionId
                })">
            @Localizer["RegistrationSubmissionDetails.CancelRegistration"]
        </a>
    }
</div>
