@using EPR.RegulatorService.Frontend.Core.Enums.ReprocessorExporter
@using EPR.RegulatorService.Frontend.Web.Extensions
@using EPR.RegulatorService.Frontend.Web.ViewModels.Shared.GovUK
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model EPR.RegulatorService.Frontend.Web.ViewModels.ReprocessorExporter.Registrations.ApplicationUpdateViewModel

@{
  const string title = "Update application outcome";
  ViewData["Title"] = title;
  var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
}

<div class="govuk-width-container ">
  <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">@Model.MaterialName</span>
          @title
        </h1>
        
        @if (!ViewData.ModelState.IsValid)
        {
          @await Html.PartialAsync("Partials/Govuk/_ErrorSummary", errorsViewModel)
        }

		<form class="form" action="@Url.Action("ApplicationUpdate", "ApplicationUpdate")" method="POST">

          <div class="govuk-form-group@(!ViewData.ModelState.IsValid ? " govuk-form-group--error" : "")">
            
            @await Html.PartialAsync("Partials/Govuk/_ErrorList", errorsViewModel)

            <div class="govuk-radios govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="application-status-granted" name="status" type="radio" value="@nameof(ApplicationStatus.Granted)" @(Model.Status == ApplicationStatus.Granted ? "checked" : "")>
                <label class="govuk-label govuk-radios__label" for="application-status-granted">
                  Grant registration
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="application-status-refused" name="status" type="radio" value="@nameof(ApplicationStatus.Refused)" @(Model.Status == ApplicationStatus.Refused ? "checked" : "")>
                <label class="govuk-label govuk-radios__label" for="application-status-refused">
                  Refuse registration
                </label>
              </div>
            </div>
          </div>

          <input class="govuk-button" type="submit" value="Continue">
        </form>
      </div>
    </div>
  </main>
</div>
