@using EPR.RegulatorService.Frontend.Core.Enums.ReprocessorExporter;
@using EPR.RegulatorService.Frontend.Web.Extensions
@using EPR.RegulatorService.Frontend.Web.ViewModels.ReprocessorExporter.Registrations;
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model MaterialWasteLicencesViewModel;

@{
    const string title = "Waste licences, permits or exemptions";
    ViewData["Title"] = title;
}

<div class="govuk-width-container ">

    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
                <h1 class="govuk-heading-l">
                    <span class="govuk-caption-l">@Model.MaterialName</span>
                    @title
                </h1>

                <form asp-controller="Registrations">

                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Licences, permits or exemptions held&nbsp;
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.PermitType
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            @Model.ReferenceNumberLabel
                          </dt>
                          <dd class="govuk-summary-list__value">
							@foreach (var number in @Model.LicenceNumbers)
                            {
                              @number <br />
                            }
                          </dd>
                        </div>
                        @if (Model is { CapacityTonne: not null, CapacityPeriod: not null })
                        {
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Authorised capacity (tonnes)
                            </dt>
                            <dd class="govuk-summary-list__value">
									@Model.CapacityTonne.ToDisplayNumber() tonnes/ @Model.CapacityPeriod
                            </dd>
                          </div>
                        }
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Maximum site capacity
                            </dt>
                            <dd class="govuk-summary-list__value">
								@Model.MaximumReprocessingCapacityTonne.ToDisplayNumber() tonnes/ @Model.MaximumReprocessingPeriod
                            </dd>
                        </div>
                    </dl>

                    <br>

                    <div class="govuk-button-group !-margin-top-6">
                        <button type="submit" class="govuk-button" data-module="govuk-button" asp-controller="Registrations" asp-action="CompleteMaterialWasteLicences" asp-route-registrationMaterialId="@Model.RegistrationMaterialId">
                            Mark as reviewed
                        </button>

                        <a class="govuk-button govuk-button--secondary" href="@Url.Action("QueryMaterialTask", "Registrations", new { registrationMaterialId = Model.RegistrationMaterialId, taskName = RegulatorTaskType.WasteLicensesPermitsAndExemptions })">
                            Query waste licences, permits or exemptions
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
