@using EPR.RegulatorService.Frontend.Core.Enums.ReprocessorExporter;
@using EPR.RegulatorService.Frontend.Web.ViewModels.ReprocessorExporter.Registrations;

@{
    ViewData["Title"] = "Site address";
}
@model SiteDetailsViewModel;

<div class="govuk-width-container ">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
                <h1 class="govuk-heading-l">
                    Site address
                </h1>
                <form asp-controller="Registrations">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Location
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.Location
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Site address
                            </dt>
                            <dd class="govuk-summary-list__value">
                               @Model.SiteAddress
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Site grid reference
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.SiteGridReference
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Address for legal documents and official correspondence
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.LegalDocumentAddress
                            </dd>
                        </div>
                    </dl>
                    <br>
                    <div class="govuk-button-group !-margin-top-6">
                        <button type="submit" class="govuk-button" data-module="govuk-button" asp-controller="Registrations" asp-action="CompleteUkSiteDetails" asp-route-registrationId="@Model.RegistrationId">
                            Mark as reviewed
                        </button>

                        <a class="govuk-button govuk-button--secondary" href="@Url.Action("QueryRegistrationTask", "Registrations", new { registrationId = Model.RegistrationId, taskName = RegulatorTaskType.SiteAddressAndContactDetails })">
                            Query the site address
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
