@using EPR.RegulatorService.Frontend.Core.Enums.ReprocessorExporter;
@using EPR.RegulatorService.Frontend.Web.ViewModels.ReprocessorExporter.Registrations;

@{
    const string title = "Waste carrier, broker or dealer registration number";
  ViewData["Title"] = title;
}
@model WasteCarrierDetailsViewModel

<div class="govuk-width-container ">
  <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
        <h1 class="govuk-heading-l">
                    <span class="govuk-caption-l">@Model.OrganisationName: @Model.SiteAddress</span>
          @title
        </h1>
        
        <form asp-controller="Registrations">

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Waste carrier, broker or dealer registration number
              </dt>
              <dd class="govuk-summary-list__value">
                @(Model.WasteCarrierBrokerDealerNumber ?? "Not supplied")
              </dd>
            </div>
          </dl>
        
          @if (Model.TaskStatus != RegulatorTaskStatus.Completed)
          {
            <div class="govuk-button-group !-margin-top-6">
              <button type="submit" class="govuk-button" formmethod="post" data-module="govuk-button" asp-controller="Registrations" asp-action="CompleteWasteCarrierDetails" asp-route-registrationId="@Model.RegistrationId">
                Mark as reviewed
              </button>

              @if (Model.TaskStatus == RegulatorTaskStatus.Queried)
              {
                <a href="@Url.Action("AddRegistrationQueryNote", "Query")" class="govuk-button govuk-button--secondary">
                  Add a query note
                </a>
                                
                <a href="@Url.Action("Index", "ManageRegistrations", new { id = Model.RegistrationId })" class="govuk-button govuk-button--secondary">
                  Back to application
                </a>
              }
              else
              {
                <a href="@Url.Action("QueryRegistrationTask", "Query")" class="govuk-button govuk-button--secondary">
                  Query the waste registration number
                </a>
              }
            </div>
          }
        </form>
      </div>
    </div>
  </main>
</div>
