@using EPR.RegulatorService.Frontend.Web.ViewModels.ReprocessorExporter.Registrations

@model ManageRegistrationsViewModel

<h2 class="govuk-heading-m"> Review address, permits, licences or exemptions</h2>
<ul class="app-task-list__items govuk-!-padding-left-0" style="margin-bottom: 30px;">

  @if (Model.BusinessAddressTask != null)
  {
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
				<a href="@Url.ActionLink("BusinessAddress", "Registrations", new { registrationId = @Model.Id })" aria-describedby="#" class="govuk-link govuk-link--no-visited-state"> Business address </a>
      </span>
      <strong class="govuk-tag @Model.BusinessAddressTask.StatusCssClass app-task-list__tag" id="contact-information-status">@Model.BusinessAddressTask.StatusText</strong><br>
    </li>
  }
  
  @if (Model.ExporterWasteLicensesTask != null)
  {
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
				<a href="@Url.ActionLink("WasteLicences", "Registrations", new { registrationId = @Model.Id })" aria-describedby="#" class="govuk-link govuk-link--no-visited-state"> Waste licences, permits or exemptions </a>
      </span>
      <strong class="govuk-tag @Model.ExporterWasteLicensesTask.StatusCssClass app-task-list__tag" id="review-waste-licences-status">@Model.ExporterWasteLicensesTask.StatusText</strong><br>
    </li>
  }
</ul>
