@using EPR.RegulatorService.Frontend.Core.Enums
@using EPR.RegulatorService.Frontend.Web.ViewModels.ReprocessorExporter.Registrations

@model ManageRegistrationsViewModel

@foreach (var registrationMaterial in Model.RegistrationMaterials)
{

  <h2 class="govuk-heading-m">
    Review @registrationMaterial.MaterialName.ToLower() registration
    <p class="govuk-body">Determination date is 4 June 2024 <a href="change-determination-date" class="govuk-link">Change</a></p>
  </h2>

  <ul class="app-task-list__items govuk-!-padding-left-0" style="margin-bottom: 30px;">

    @if (Model.ApplicationOrganisationType == ApplicationOrganisationType.Reprocessor)
    {
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="@Url.ActionLink("MaterialWasteLicences", "Registrations")" aria-describedby="#" class="govuk-link govuk-link--no-visited-state"> Waste licences, permits or exemptions</a>
        </span>
        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-information-status">Not Started yet</strong><br>
      </li>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="@Url.ActionLink("InputsAndOutputs", "Registrations")" aria-describedby="#" class="govuk-link govuk-link--no-visited-state"> Reprocessing inputs and outputs</a>
        </span>
        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-information-status">Not Started yet</strong><br>
      </li>
    }

    @if (Model.ApplicationOrganisationType == ApplicationOrganisationType.Exporter)
    {
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="@Url.ActionLink("MaterialDetails", "Registrations")" aria-describedby="#" class="govuk-link govuk-link--no-visited-state"> Material details and contact</a>

        </span>
        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-information-status">Not Started yet</strong><br>
      </li>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="@Url.ActionLink("OverseasReprocessorInterim", "Registrations")" aria-describedby="#" class="govuk-link govuk-link--no-visited-state"> Overseas reprocessor and interim site details</a>

        </span>
        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-information-status">Not Started yet</strong><br>
      </li>
    }

    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <a href="@Url.ActionLink("SamplingInspection", "Registrations")" aria-describedby="#" class="govuk-link govuk-link--no-visited-state">Sampling and inspection plan</a>
      </span>
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-information-status">Not Started yet</strong><br>
    </li>
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <a href="@Url.ActionLink("Index", "ApplicationUpdate", new { registrationMaterialId = registrationMaterial.Id })" aria-describedby="#" class="govuk-link govuk-link--no-visited-state"> Update registration outcome</a>
      </span>
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-information-status">Not Started yet</strong><br>
    </li>
  </ul>
}
