@using EPR.RegulatorService.Frontend.Web.Configs
@using EPR.RegulatorService.Frontend.Web.Constants;
@using EPR.RegulatorService.Frontend.Web.Extensions;
@using EPR.RegulatorService.Frontend.Web.ViewModels.Shared
@using Microsoft.Extensions.Options

@inject IOptions<ExternalUrlsOptions> ExternalUrlsOptions;

@{
    var useGoogleAnalyticsCookie = (bool?)Context.Items[ContextKeys.UseGoogleAnalyticsCookieKey];
    var googleTagManagerContainerId = (string?)Context.Items[ContextKeys.TagManagerContainerIdKey];
    var scriptNonce = (string?)Context.Items[ContextKeys.ScriptNonceKey];
}

<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - @SharedLocalizer["Application.Title"] - GOV.UK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="application-name" content="@SharedLocalizer["Application.Title"]" data-version="@System.Reflection.Assembly.GetExecutingAssembly().GetName().Version.ToString()">
    <meta name="govuk:app-image-name" content="@Environment.GetEnvironmentVariable("DOCKER_CUSTOM_IMAGE_NAME")">
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="mask-icon" href="~/images/govuk-mask-icon.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="~/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="~/images/govuk-apple-touch-icon.png">
    <link rel="stylesheet" href="~/css/application.css">

    @if (useGoogleAnalyticsCookie == true)
    {
        <!-- Google Tag Manager -->
        <script nonce="@scriptNonce">
            (function (w, d, s, l, i) {
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        'https://www.googletagmanager.com/gtag/js?id=' + i; var n = d.querySelector('[nonce]');
                n && j.setAttribute('nonce', n.nonce || n.getAttribute('nonce')); f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', '@googleTagManagerContainerId');

            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', '@googleTagManagerContainerId');
        </script>
        <!-- End Google Tag Manager -->
    }
</head>

<body class="govuk-template__body ">

    @if (useGoogleAnalyticsCookie == true)
    {
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="@("https://www.googletagmanager.com/ns.html?id="+googleTagManagerContainerId)"
                    height="0" width="0" style="display:none;visibility:hidden" title="Google Tag Manager"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
    }

    <script nonce="@scriptNonce">
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    @await Component.InvokeAsync("CookieBanner")

    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">@SharedLocalizer["SkipToMainContent"].Value</a>

    @await Component.InvokeAsync("Header")

    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                @await Component.InvokeAsync("PhaseBanner")
                @await Component.InvokeAsync("LanguageSwitcher")
                @if (ViewBag.BackLinkToDisplay != null)
                {
                    @await Html.PartialAsync("Partials/Govuk/_BackLink",
                             new BackLinkModel
                              {
                                  PagePath = (string)ViewBag.BackLinkToDisplay,
                                  AriaLabel = (string)ViewBag.BackLinkAriaLabel
                              })
                }
                @if (ViewBag.CustomBackLinkToDisplay != null)
                {
                  @await Html.PartialAsync("Partials/_CustomBackLink", (string)ViewBag.CustomBackLinkToDisplay)
                }
            </div>
        </div>
    </div>

    @RenderBody()

    @await Html.PartialAsync("Partials/Govuk/_Footer", (string)ViewBag.CurrentPage ?? Url.CurrentPath())

    <script src="~/js/govuk.js"></script>
    <script nonce="@scriptNonce">window.GOVUKFrontend.initAll({
        characterCount: {
            i18n: {
                charactersUnderLimit: {
                    one: "@SharedLocalizer["CharacterLimit.UnderLimitSingle"]",
                    other: "@SharedLocalizer["CharacterLimit.UnderLimitPlural"]"
                },
                charactersAtLimit: "@SharedLocalizer["CharacterLimit.AtLimit"]",
                charactersOverLimit: {
                    one: "@SharedLocalizer["CharacterLimit.OverLimitSingle"]",
                    other: "@SharedLocalizer["CharacterLimit.OverLimitPlural"]"
                }
            }
        },
        })
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
