@using EPR.RegulatorService.Frontend.Core.Enums
@model EPR.RegulatorService.Frontend.Core.Models.CompanyDetails.ApprovedUserInformation

@foreach (var user in Model.ApprovedUsers)
{
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">
        <span class="govuk-summary-card__title"> @user.FirstName @user.LastName </span>
        @if (user.UserEnrolments.Any(e =>
          e.EnrolmentStatusId is (int)EnrolmentStatusEnum.Invited or (int)EnrolmentStatusEnum.Nominated))
        {
          <span class="govuk-summary-card__title govuk-tag--yellow">
              @Localizer["Enrolment.Status.Pending"]
          </span>
        }
        @if (user.UserEnrolments.Any(e => e.EnrolmentStatusId == (int)EnrolmentStatusEnum.Pending))
        {
          <span class="govuk-summary-card__title govuk-tag--yellow">
               @Localizer["Enrolment.Status.Awaiting"]
          </span>
        }
      </h2>
      <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action">
          <p class="govuk-body">
            @Html.ActionLink(SharedLocalizer["Regulator.CompanyDetail.Remove"].Value,
              "Confirm",
              "RemoveApprovedUser",
              new
              {
                connExternalId = user.ExternalId,
                userName = $"{user.FirstName + " " + user.LastName}",
                organisationName = Model.OrganisationName,
                organisationId = Model.OrganisationExternalId
              },
              new
              {
                @class = "govuk-link govuk-link--no-visited-state"
              })
          </p>
        </li>
      </ul>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            @SharedLocalizer["Regulator.CompanyDetail.CompanyRole"]
          </dt>
          <dd class="govuk-summary-list__value">
            @user.JobTitle
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            @SharedLocalizer["Regulator.CompanyDetail.Telephone"]
          </dt>
          <dd class="govuk-summary-list__value">
            @user.PhoneNumber
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            @SharedLocalizer["Regulator.CompanyDetail.Email"]
          </dt>
          <dd class="govuk-summary-list__value">
            @user.Email
          </dd>
        </div>
      </dl>
    </div>
  </div>
}
