@using EPR.RegulatorService.Frontend.Core.Enums
@model List<EPR.RegulatorService.Frontend.Core.Models.CompanyDetails.CompanyUserInformation>

@foreach (var user in Model)
{
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">
          <span class="govuk-summary-card__title"> @user.FirstName @user.LastName </span>
          @if (user.UserEnrolments.Any(e =>
          e.EnrolmentStatusId is (int)EnrolmentStatus.Invited or (int)EnrolmentStatus.Nominated))
          {
              <span class="govuk-summary-card__title govuk-tag--yellow">
                  @Localizer["Enrolment.Status.Pending"]
              </span>
          }
          @if (user.UserEnrolments.Any(e => e.EnrolmentStatusId == (int)EnrolmentStatus.Pending))
          {
              <span class="govuk-summary-card__title govuk-tag--yellow">
                  @Localizer["Enrolment.Status.Awaiting"]
              </span>
          }
      </h2>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            @SharedLocalizer["Regulator.CompanyDetail.Telephone"]
          </dt>
          <dd class="govuk-summary-list__value">
            @user.PhoneNumber
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            @SharedLocalizer["Regulator.CompanyDetail.Email"]
          </dt>
          <dd class="govuk-summary-list__value">
            @user.Email
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            @SharedLocalizer["Regulator.CompanyDetail.EmployeeOfOrganisation"]
          </dt>
          <dd class="govuk-summary-list__value">
            @(user.IsEmployee == true ? @SharedLocalizer["Yes"] : @SharedLocalizer["No"])
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            @SharedLocalizer["Regulator.CompanyDetail.JobTitle"]
          </dt>
          <dd class="govuk-summary-list__value">
            @user.JobTitle
          </dd>
        </div>
      </dl>
    </div>
  </div>
}
