@using EPR.RegulatorService.Frontend.Web.ViewModels.InviteNewApprovedPerson;

@model EmailSentToNominatedApprovedPersonModel

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            @Localizer["Page.Panel"]
          </h1>
        </div>
        <p id="pageTitle" class="govuk-body">
          @Localizer["Page.Title"]
          </p>
        <h2 class="govuk-heading-m">@Localizer["Page.Heading", Model.InvitedApprovedPersonFullName, Model.OrganisationName]</h2>

        <div class="govuk-inset-text">
          <p id="cannotSubmitConfirmation" class="govuk-body">
            @Localizer["Confirmation.AfterAccountCreated.AcceptOrRejectAccount", Model.InvitedApprovedPersonFullName]
          </p>
          <p id="nominateApprovedUserConfirmation" class="govuk-body">
            @Localizer["Confirmation.DoesNotApplyToBeApprovedUser.ContactThem", Model.InvitedApprovedPersonFullName]
          </p>
        </div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div id="goToHomeLink" class="govuk-grid-column-full">
        @Html.ActionLink(@SharedLocalizer["Custom.GoToHome"],
          "LandingPage",
          "Home",
          null,
          new {@class = "govuk-body govuk-link govuk-link--no-visited-state"})
      </div>
    </div>
  </main>
</div>

