@using EPR.RegulatorService.Frontend.Web.ViewModels.RegistrationSubmissions

@model RegistrationSubmissionsFilterViewModel

@using (Html.BeginForm("RegistrationSubmissions", "RegistrationSubmissions", FormMethod.Post))
{
    @Html.HiddenFor(r => r.NationId)
    @Html.HiddenFor(r => r.Show2026RelevantYearFilter)
    <div class="epr-filter-panel">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="epr-filter-panel-full">
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-5">
                            @Localizer["FilterOptions.Title"].Value
                        </h2>
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-label--m" for="organisation-name"
                                   gov-for="OrganisationName"
                                   gov-first-option="true">
                                @Localizer["SubTitle.OrganisationName"].Value
                            </label>
                            <input type="text"
                                   class="govuk-input govuk-!-width-full"
                                   id="organisation-name"
                                   name="organisation-name"
                                   gov-first-option="true"
                                   gov-for="OrganisationName"
                                   gov-value="@Model.OrganisationName" />
                        </div>
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-label--m" for="organisation-name"
                                   gov-for="OrganisationRef"
                                   gov-first-option="true">
                                @Localizer["SubTitle.OrganisationReference"].Value
                            </label>
                            <input type="text"
                                   class="govuk-input govuk-!-width-full"
                                   id="organisation-ref"
                                   name="organisation-ref"
                                   gov-first-option="true"
                                   gov-for="OrganisationRef"
                                   gov-value="@Model.OrganisationRef" />
                        </div>
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend>
                                    <span class="govuk-label govuk-label--m">@Localizer["SubTitle.OrganisationType"].Value</span>
                                </legend>
								<div class="govuk-grid-row govuk-checkboxes" data-module="govuk-checkboxes">
									<div class="govuk-grid-column-one-third epr-filter-panel-checkbox">
                                        <div class="govuk-checkboxes__item">
                                            @Html.CheckBoxFor(x => x.IsOrganisationComplianceChecked,
                                                     new { id = "is-organisation-compliance-checked-check", @class = "govuk-checkboxes__input", labelledby = "is-organisation-compliance-checked-label" })
                                            @Html.LabelFor(x => x.IsOrganisationComplianceChecked, Localizer["Checkbox.OrganisationType.Compliance"].Value,
                                                     new { id = "is-organisation-compliance-checked-label", @class = "govuk-label govuk-checkboxes__label epr-filter-panel-checkboxes-label", @for = "is-organisation-compliance-checked-check" })
                                        </div>
                                    </div>
									<div class="govuk-grid-column-one-third">
                                        <div class="govuk-checkboxes__item epr-filter-panel-checkbox">
                                            @Html.CheckBoxFor(x => x.IsOrganisationLargeChecked,
                                                     new { id = "is-organisation-large-checked-check", @class = "govuk-checkboxes__input", labelledby = "is-organisation-large-checked-label" })
                                            @Html.LabelFor(x => x.IsOrganisationLargeChecked, Localizer["Checkbox.OrganisationType.LargeProducer"].Value,
                                                     new { id = "is-organisation-large-checked-label", @class = "govuk-label govuk-checkboxes__label epr-filter-panel-checkboxes-label", @for = "is-organisation-large-checked-check" })
                                        </div>
                                    </div>
									<div class="govuk-grid-column-one-third">
                                        <div class="govuk-checkboxes__item epr-filter-panel-checkbox">
                                            @Html.CheckBoxFor(x => x.IsOrganisationSmallChecked,
                                                     new { id = "is-organisation-small-checked-check", @class = "govuk-checkboxes__input", labelledby = "is-organisation-small-checked-label" })
                                            @Html.LabelFor(x => x.IsOrganisationLargeChecked, Localizer["Checkbox.OrganisationType.SmallProducer"].Value,
                                                     new { id = "is-organisation-small-checked-label", @class = "govuk-label govuk-checkboxes__label epr-filter-panel-checkboxes-label", @for = "is-organisation-small-checked-check" })
                                        </div>
                                    </div>
                                    <div class="epr-filter-panel-checkbox-layout"></div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend>
                                    <span class="govuk-label govuk-label--m">@Localizer["SubTitle.SubmissionStatus"].Value</span>
                                </legend>
                                <div class="govuk-grid-row govuk-checkboxes" data-module="govuk-checkboxes">
									<div class="govuk-grid-column-one-third">
                                        <div class="govuk-checkboxes__item epr-filter-panel-checkbox">
                                            @Html.CheckBoxFor(x => x.IsStatusPendingChecked,
                                                     new { id = "is-status-pending-checked-check", @class = "govuk-checkboxes__input", labelledby = "is-status-pending-checked-label" })
                                            @Html.LabelFor(x => x.IsStatusPendingChecked, Localizer["Checkbox.SubmissionStatus.Pending"].Value,
                                                     new { id = "is-status-pending-checked-label", @class = "govuk-label govuk-checkboxes__label epr-filter-panel-checkboxes-label", @for = "is-status-pending-checked-check" })
                                        </div>
                                    </div>
									<div class="govuk-grid-column-one-third">
                                        <div class="govuk-checkboxes__item epr-filter-panel-checkbox">
                                            @Html.CheckBoxFor(x => x.IsStatusGrantedChecked,
                                                     new { id = "is-status-granted-checked-check", @class = "govuk-checkboxes__input", labelledby = "is-status-granted-checked-label" })
                                            @Html.LabelFor(x => x.IsStatusGrantedChecked, Localizer["Checkbox.SubmissionStatus.Granted"].Value,
                                                     new { id = "is-status-granted-checked-label", @class = "govuk-label govuk-checkboxes__label epr-filter-panel-checkboxes-label", @for = "is-status-granted-checked-check" })
                                        </div>
                                    </div>
									<div class="govuk-grid-column-one-third">
                                        <div class="govuk-checkboxes__item epr-filter-panel-checkbox">
                                            @Html.CheckBoxFor(x => x.IsStatusRefusedChecked,
                                                     new { id = "is-status-refused-checked-check", @class = "govuk-checkboxes__input", labelledby = "is-status-refused-checked-label" })
                                            @Html.LabelFor(x => x.IsStatusRefusedChecked, Localizer["Checkbox.SubmissionStatus.Refused"].Value,
                                                     new { id = "is-status-refused-checked-label", @class = "govuk-label govuk-checkboxes__label epr-filter-panel-checkboxes-label", @for = "is-status-refused-checked-check" })
                                        </div>
                                    </div>
									<div class="govuk-grid-column-one-third">
                                        <div class="govuk-checkboxes__item epr-filter-panel-checkbox">
                                            @Html.CheckBoxFor(x => x.IsStatusQueriedChecked,
                                                     new { id = "is-status-queried-checked-check", @class = "govuk-checkboxes__input", labelledby = "is-status-queried-checked-label" })
                                            @Html.LabelFor(x => x.IsStatusQueriedChecked, Localizer["Checkbox.SubmissionStatus.Queried"].Value,
                                                     new { id = "is-status-queried-checked-label", @class = "govuk-label govuk-checkboxes__label epr-filter-panel-checkboxes-label", @for = "is-status-queried-checked-check" })
                                        </div>
                                    </div>
									<div class="govuk-grid-column-one-third">
                                        <div class="govuk-checkboxes__item epr-filter-panel-checkbox">
                                            @Html.CheckBoxFor(x => x.IsStatusCancelledChecked,
                                                     new { id = "is-status-cancelled-checked-check", @class = "govuk-checkboxes__input", labelledby = "is-status-cancelled-checked-label" })
                                            @Html.LabelFor(x => x.IsStatusCancelledChecked, Localizer["Checkbox.SubmissionStatus.Cancelled"].Value,
                                                     new { id = "is-status-cancelled-checked-label", @class = "govuk-label govuk-checkboxes__label epr-filter-panel-checkboxes-label", @for = "is-status-cancelled-checked-check" })
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend>
                                    <span class="govuk-label govuk-label--m">Resubmission status</span>
                                </legend>
                                <div class="govuk-grid-row govuk-checkboxes" data-module="govuk-checkboxes">
									<div class="govuk-grid-column-one-third">
                                        <div class="govuk-checkboxes__item epr-filter-panel-checkbox">
                                            @Html.CheckBoxFor(x => x.IsResubmissionPendingRegistrationChecked,
                                                     new { id = "is-pending-resubmission-type-checked-check", @class = "govuk-checkboxes__input", labelledby = "is-pending-resubmission-type-checked-label" })
                                            @Html.LabelFor(x => x.IsResubmissionPendingRegistrationChecked, SharedLocalizer["Tag.Pending"].Value,
                                                     new { id = "is-pending-resubmission-type-checked-label", @class = "govuk-label govuk-checkboxes__label epr-filter-panel-checkboxes-label", @for = "is-pending-resubmission-type-checked-check" })
                                        </div>
                                    </div>
									<div class="govuk-grid-column-one-third">
                                        <div class="govuk-checkboxes__item epr-filter-panel-checkbox">
                                            @Html.CheckBoxFor(x => x.IsResubmissionAcceptedRegistrationChecked,
                                                     new { id = "is-accepted-resubmission-type-checked-check", @class = "govuk-checkboxes__input", labelledby = "is-accepted-sreubmission-type-checked-label" })
                                            @Html.LabelFor(x => x.IsResubmissionAcceptedRegistrationChecked, SharedLocalizer["Tag.Accepted"].Value,
                                                     new { id = "is-accepted-resubmission-type-checked-label", @class = "govuk-label govuk-checkboxes__label epr-filter-panel-checkboxes-label", @for = "is-accepted-resubmission-type-checked-check" })
                                        </div>
                                    </div>
									<div class="govuk-grid-column-one-third">
                                        <div class="govuk-checkboxes__item epr-filter-panel-checkbox">
                                            @Html.CheckBoxFor(x => x.IsResubmissionRejectedRegistrationChecked,
                                                     new { id = "is-rejected-resubmission-type-checked-check", @class = "govuk-checkboxes__input", labelledby = "is-rejected-resubmission-type-checked-label" })
                                            @Html.LabelFor(x => x.IsResubmissionRejectedRegistrationChecked, SharedLocalizer["Tag.Rejected"].Value,
                                                     new { id = "is-rejected-resubmission-type-checked-label", @class = "govuk-label govuk-checkboxes__label epr-filter-panel-checkboxes-label", @for = "is-rejected-resubmission-type-checked-check" })
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend>
                                    <span class="govuk-label govuk-label--m">@Localizer["SubTitle.RelevantYear"].Value</span>
                                </legend>
                                <div class="govuk-grid-row govuk-checkboxes" data-module="govuk-checkboxes">
									<div class="govuk-grid-column-one-third">
                                        <div class="govuk-checkboxes__item epr-filter-panel-checkbox">
                                            @Html.CheckBoxFor(x => x.Is2025Checked,
                                                     new { id = "is-year-2025-checked-check", @class = "govuk-checkboxes__input", labelledby = "is-year-2025-checked-label" })
                                            @Html.LabelFor(x => x.Is2025Checked, Localizer["Checkbox.Year-2025"].Value,
                                                     new { id = "is-year-2025-checked-label", @class = "govuk-label govuk-checkboxes__label epr-filter-panel-checkboxes-label", @for = "is-year-2025-checked-check" })
                                        </div>
                                    </div>
                                    @if (Model.Show2026RelevantYearFilter)
                                    {
										<div class="govuk-grid-column-one-third">
                                          <div class="govuk-checkboxes__item epr-filter-panel-checkbox">
                                              @Html.CheckBoxFor(x => x.Is2026Checked,
                                                        new { id = "is-year-2026-checked-check", @class = "govuk-checkboxes__input", labelledby = "is-year-2026-checked-label" })
                                              @Html.LabelFor(x => x.Is2026Checked, Localizer["Checkbox.Year-2026"].Value,
                                                        new { id = "is-year-2026-checked-label", @class = "govuk-label govuk-checkboxes__label epr-filter-panel-checkboxes-label", @for = "is-year-2026-checked-check" })
                                          </div>
                                        </div>
                                    }
                                </div>
                            </fieldset>
                        </div>
                        <button type="submit" class="govuk-button epr-filter-panel-control" data-module="govuk-button"
                                name="filterType"
                                value="SubmitFilters">
                            @SharedLocalizer["ApplyFilters"].Value
                        </button>
                        <button type="submit" class="styled-as-anchor govuk-body govuk-link epr-filter-panel-control epr-link-no-visited-state" data-module="govuk-button"
                                name="filterType"
                                value="ClearFilters">
                            @SharedLocalizer["ClearFilters"].Value
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
