@using EPR.RegulatorService.Frontend.Web.ViewModels.Applications;
@model ApplicationsListViewModel

@await Html.PartialAsync("Partials/_RegulatorApplicationFilters", Model.RegulatorApplicationFiltersModel)

<table class="govuk-table responsive-table" aria-label="Organisation Application Listing">
  <thead role="rowgroup" class="govuk-table__head">
    <tr role="row" class="govuk-table__row">
      <th role="columnheader" scope="col" class="govuk-table__header epr-width-thirty-percent">@Localizer["Table.Header.Company"]</th>
      <th role="columnheader" scope="col" class="govuk-table__header epr-width-thirty-percent">@Localizer["Table.Header.ApplicationDate"]</th>
      <th role="columnheader" scope="col" class="govuk-table__header epr-width-thirty-percent">@Localizer["Table.Header.Type"]</th>
      <th role="columnheader" scope="col" class="govuk-table__header epr-width-ten-percent">@Localizer["Table.Header.Action"]</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  
  @foreach (var organisation in Model.PagedOrganisationApplications)
  {
    @using (Html.BeginForm("Applications", "Applications", new { organisationId = organisation.OrganisationId }, FormMethod.Post))
    {
      <tr role="row" class="govuk-table__row">
        <td role="gridcell" class="govuk-table__cell vertical-middle-align">
          <span class="responsive-table__heading" aria-hidden="true">@Localizer["Table.Header.Company"]</span>
          <p class="govuk-body">
            <b>@organisation.OrganisationName</b>
          </p>
        </td>
        <td role="gridcell" class="govuk-table__cell vertical-middle-align">
          <span class="responsive-table__heading" aria-hidden="true">@Localizer["Table.Header.ApplicationDate"]</span>
          <p class="govuk-body">
            @organisation.LastUpdate.ToString("d MMMM yyyy")
          </p>
        </td>
        <td role="gridcell" class="govuk-table__cell vertical-middle-align">
          <span class="responsive-table__heading" aria-hidden="true">@Localizer["Table.Header.Type"]</span>
          <p class="govuk-body">
            @if (organisation.Enrolments.HasApprovedPending)
            {
              @Localizer["ApprovedPerson"]
              <br/>
            }
            @if (organisation.Enrolments.HasDelegatePending)
            {
              @Localizer["DelegatedPerson"]
              <br/>
            }
          </p>
        </td>
        <td role="gridcell" class="govuk-table__cell vertical-middle-align">
          <span class="responsive-table__heading" aria-hidden="true">@Localizer["Table.Header.Action"]</span>
          <p class="govuk-body">
            <button type="submit" class="govuk-body govuk-link epr-link-no-visited-state" data-module="govuk-button">@SharedLocalizer["View"].Value</button>
          </p>
        </td>
      </tr>
    }
  }
  </tbody>
</table> 

@await Html.PartialAsync("Partials/_PaginationNavigation", Model.PaginationNavigationModel)
