@using EPR.RegulatorService.Frontend.Core.Extensions
@using EPR.RegulatorService.Frontend.Web.ViewModels.RegistrationSubmissions;
@using EPR.RegulatorService.Frontend.Web.ViewModels.Shared
@using EPR.RegulatorService.Frontend.Core.Enums

@model RegistrationSubmissionsListViewModel

@await Html.PartialAsync("Partials/_RegistrationSubmissionsFilters", Model.RegistrationsFilterModel)
@if (Model.PagedRegistrationSubmissions.Any())
{
    <table class="govuk-table responsive-table" aria-label="Organisation Application Listing">
        <thead role="rowgroup" class="govuk-table__head">
            <tr role="row" class="govuk-table__row">
                <th role="columnheader" scope="col" class="govuk-table__header epr-width-thirty-percent">@Localizer["Table.Header.Company"]</th>
                <th role="columnheader" scope="col" class="govuk-table__header epr-width-thirty-percent">@Localizer["Table.Header.CompanyId"]</th>
                <th role="columnheader" scope="col" class="govuk-table__header epr-width-thirty-percent">@Localizer["Table.Header.ApplicationDate"]</th>
                <th role="columnheader" scope="col" class="govuk-table__header epr-width-ten-percent">@Localizer["Table.Header.Year"]</th>
                <th role="columnheader" scope="col" class="govuk-table__header epr-width-ten-percent">@Localizer["Table.Header.Status"]</th>
                <th role="columnheader" scope="col" class="govuk-table__header epr-width-thirty-percent">@Localizer["Table.Header.ResubmissionStatus"]</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var organisation in Model.PagedRegistrationSubmissions)
            {
                <tr role="row" class="govuk-table__row">
                    <td role="gridcell" class="govuk-table__cell vertical-middle-align">
                        <span class="responsive-table__heading" aria-hidden="true">
                            @Localizer["Table.Header.Company"]
                        </span>
                        @(Html.RouteLink(@organisation.OrganisationName,
                            "SubmissionDetails",
                            new { submissionId = @organisation.SubmissionId, organisationType = organisation.OrganisationType },
                            new { @class = "govuk-link govuk-link--no-visited-state" }))
                        <br />
                        <span class="orgNameFilter">@SharedLocalizer[organisation.OrganisationType.GetDescription()]</span>
                    </td>
                    <td role="gridcell" class="govuk-table__cell vertical-middle-align">
                        <span class="responsive-table__heading" aria-hidden="true">
                            @Localizer["Table.Header.CompanyId"]
                        </span>
                        @organisation.OrganisationReference <br />
                        @if (organisation.Status == RegistrationSubmissionStatus.Granted)
                        {
                            @organisation.RegistrationReferenceNumber
                        }
                        else
                        {
                            @organisation.ReferenceNumber
                        }
                    </td>
                    @if (organisation.IsResubmission)
                    {
                        <td role="gridcell" class="govuk-table__cell vertical-middle-align">
                            <span class="responsive-table__heading" aria-hidden="true">
                                @Localizer["Table.Header.ApplicationDate"]
                            </span>
                            @organisation.SubmissionDetails.TimeAndDateOfResubmission?.ToString("dd MMMM yyyy")
                            <br />
                            @organisation.SubmissionDetails.TimeAndDateOfResubmission?.ToString("HH:mm:ss")
                        </td>
                    }
                    else
                    {
                        <td role="gridcell" class="govuk-table__cell vertical-middle-align">
                            <span class="responsive-table__heading" aria-hidden="true">
                                @Localizer["Table.Header.ApplicationDate"]
                            </span>
                            @organisation.SubmissionDetails.TimeAndDateOfSubmission.ToString("dd MMMM yyyy")
                            <br />
                            @organisation.SubmissionDetails.TimeAndDateOfSubmission.ToString("HH:mm:ss")
                        </td>
                    }
                    <td role="gridcell" class="govuk-table__cell vertical-middle-align">
                        <span class="responsive-table__heading" aria-hidden="true">
                            @Localizer["Table.Header.Year"]
                        </span>
                        @organisation.RegistrationYear
                    </td>
                    <td role="gridcell" class="govuk-table__cell vertical-middle-align">
                        <span class="responsive-table__heading" aria-hidden="true">
                            @Localizer["Table.Header.Status"]
                        </span>
                        <govuk-tag status="@organisation.Status" content="@SharedLocalizer[organisation.Status.GetDescription()]" />
                    </td>

                    <td role="gridcell" class="govuk-table__cell vertical-middle-align">
                        <span class="responsive-table__heading" aria-hidden="true">
                            @Localizer["Table.Header.ResubmissionStatus"]
                        </span>
                        @if (organisation.IsResubmission && organisation.ResubmissionStatus != null)
                        {
                            <govuk-tag status="@organisation.ResubmissionStatus"
                                       content="@SharedLocalizer[organisation.ResubmissionStatus.GetDescription()]"
                                       useLightColour=true />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @await Html.PartialAsync("Partials/_PaginationNavigation", Model.PaginationNavigationModel)
}
else
{
    <p class="govuk-body govuk-body govuk-!-font-weight-bold govuk-!-text-align-centre govuk-!-static-margin-9">@Localizer["Body.NoResultsFound"]</p>
}
