@using EPR.RegulatorService.Frontend.Core.Extensions
@using EPR.RegulatorService.Frontend.Web.ViewModels.RegistrationSubmissions
@using EPR.RegulatorService.Frontend.Web.ViewModels.Shared
@using EPR.RegulatorService.Frontend.Core.Enums

@model DataGrid<ISubmissionDetails>

@if (Model.Data != null && Model.Data.Any())
{
    <table class="govuk-table responsive-table" aria-label="@Model.AriaLabel">
        <thead role="rowgroup" class="govuk-table__head">
            <tr role="row" class="govuk-table__row">
                @foreach (var header in Model.Headers)
                {
                    <th role="columnheader" scope="col" class="@header.Class">@header.DisplayName</th>
                }
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var item in Model.Data)
            {
                <tr role="row" class="govuk-table__row">
                    @foreach (var header in Model.Headers)
                    {
                        <td role="gridcell" class="govuk-table__cell vertical-middle-align @header.Class">
                            <span class="responsive-table__heading" aria-hidden="true">
                                @header.DisplayName
                            </span>
                            @if (header.Template != null)
                            {
                                @header.Template(item)
                            }
                            else if (header.ValueExpression != null)
                            {
                                @header.ValueExpression(item)
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    @if (Model.PaginationNavigationModel != null)
    {
        @await Html.PartialAsync("Partials/_PaginationNavigation", Model.PaginationNavigationModel)
    }
}
else
{
    <p class="govuk-body govuk-body govuk-!-font-weight-bold govuk-!-text-align-centre govuk-!-static-margin-9">@Model.NoResultsMessage</p>
}
