@using EPR.RegulatorService.Frontend.Web.Constants
@model EPR.RegulatorService.Frontend.Core.Models.UserEnrolment

@{ var isApprovedUser = Model.User.Enrolment.EnrolmentStatus == EnrolmentStatus.Approved; }

@using (Html.BeginForm("EnrolmentRequests", "Applications", FormMethod.Post))
{
  <div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">@Model.User.FirstName @Model.User.LastName</h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        @if (isApprovedUser)
        {
          <strong class="govuk-tag govuk-tag--green">@SharedLocalizer["Tag.Accepted"]</strong>
        }
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          @Localizer["Summary.Telephone"]
        </dt>
        <dd class="govuk-summary-list__value">
          @Model.User.TelephoneNumber
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          @Localizer["Summary.Email"]
        </dt>
        <dd class="govuk-summary-list__value">
          @Model.User.Email
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          @Localizer["Summary.EmployeeOfOrganisation"]
        </dt>
        <dd class="govuk-summary-list__value">
          @(Model.User.IsEmployeeOfOrganisation ? "Yes" : "No")
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          @Localizer["Summary.JobTitle"]
        </dt>
        <dd class="govuk-summary-list__value">
          @Model.User.JobTitle
        </dd>
      </div>
    </dl>
    @if (!Model.IsApprovedUserAccepted)
    {
      <div class="govuk-inset-text">@Localizer["Summary.Information"]</div>
    }
    else
    {
      if (!isApprovedUser)
      {
        @Html.HiddenFor(x => x.IsApprovedUserAccepted)
        @Html.HiddenFor(x => x.User.FirstName)
        @Html.HiddenFor(x => x.User.LastName)
        @Html.HiddenFor(x => x.User.Email)
        @Html.HiddenFor(x => x.User.Enrolment.ServiceRole)
        <div class="govuk-button-group govuk-!-margin-top-2">
          <button class="govuk-button" data-module="govuk-button" name="journeyType" value="@JourneyType.Accept">
              @SharedLocalizer["Button.Accept"]
          </button>
          <button class="govuk-button govuk-button--warning" data-module="govuk-button" name="journeyType" value="@JourneyType.Reject">
              @SharedLocalizer["Button.Reject"]
          </button>
        </div>
      }
    }
  </div>
</div>
}
