<h2 class="govuk-heading-m">@Localizer["OrganisationFileDownload.TryAgainPageTitle"]</h2>
<p class="govuk-body">@Localizer["OrganisationFileDownload.TryAgainPageInfo1"]</p>
<h3 class="govuk-heading-m">@Localizer["OrganisationFileDownload.TryAgainPageInfo2"]</h3>
<p class="govuk-body">@Localizer["OrganisationFileDownload.TryAgainPageInfo3"]</p>

<form class="govuk-!-display-inline-block" method="get" asp-controller="Submissions" asp-action="SubmissionsFileDownload">
    <button class="govuk-button" data-module="govuk-button">
        @SharedLocalizer["FileDownload.TryAgainButton"]
    </button>
</form>
