@using EPR.RegulatorService.Frontend.Web.ViewModels.Shared;
@model RegulatorApplicationFiltersModel

@using (Html.BeginForm("Applications", "Applications", FormMethod.Post))
{
  <div class="epr-filter-panel">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="epr-filter-panel-full">
                        <h2 class="govuk-heading-m epr-filter-panel-label govuk-!-margin-bottom-5">@Localizer["FilterOptions.Title"]</h2>
            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--m" for="organisation-name"
                     gov-for="SearchOrganisationName"
                     gov-first-option="true">@Localizer["SubTitle.OrganisationName"].Value
              </label>
              <input type="text"
                     class="govuk-input govuk-!-width-full"
                     id="organisation-name"
                     name="organisation-name"
                     gov-first-option="true"
                     gov-for="SearchOrganisationName"
                     gov-value="@Model.SearchOrganisationName"/>
            </div>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend>
                  <span class="govuk-label govuk-label--m">@Localizer["SubTitle.ApprovalType"].Value</span>
                </legend>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="epr-filter-panel-checkbox-layout">
                    <div class="govuk-checkboxes__item epr-filter-panel-checkbox">
                      @Html.CheckBoxFor(x => x.IsApprovedUserTypeChecked, 
                        new { id="is-approved-user-type-checked-check", @class="govuk-checkboxes__input", labelledby="is-approved-user-type-checked-label" })
                      @Html.LabelFor(x => x.IsApprovedUserTypeChecked, Localizer["Checkbox.ApprovedPerson"].Value,
                        new { id="is-approved-user-type-checked-label", @class="govuk-label govuk-checkboxes__label epr-filter-panel-checkboxes-label", @for="is-approved-user-type-checked-check" })
                    </div>
                  </div>
                  <div class="epr-filter-panel-checkbox-layout">
                    <div class="govuk-checkboxes__item epr-filter-panel-checkbox">
                      @Html.CheckBoxFor(x => x.IsDelegatedUserTypeChecked, 
                        new { id="is-delegated-user-type-checked-check", @class="govuk-checkboxes__input", labelledby="is-delegated-user-type-checked-label" })
                      @Html.LabelFor(x => x.IsDelegatedUserTypeChecked, Localizer["Checkbox.DelegatedPerson"].Value,
                        new { id="is-delegated-user-type-checked-label", @class="govuk-label govuk-checkboxes__label epr-filter-panel-checkboxes-label", @for="is-delegated-user-type-checked-check" })
                    </div>
                  </div>
                  <div class="epr-filter-panel-checkbox-layout"></div>
                </div>
              </fieldset>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                @Html.Hidden("isFilteredSearch", true)
                <button type="submit" class="govuk-button epr-filter-panel-control" data-module="govuk-button" name="filterType" value="SubmitFilters">@SharedLocalizer["ApplyFilters"].Value</button>
                <button type="submit" class="govuk-body govuk-link epr-filter-panel-control epr-link-no-visited-state" data-module="govuk-button" name="filterType" value="ClearFilters" >@SharedLocalizer["ClearFilters"].Value</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
