@using EPR.RegulatorService.Frontend.Web.Constants
@using EPR.RegulatorService.Frontend.Web.ViewModels.RegistrationSubmissions
@using EPR.RegulatorService.Frontend.Core.Enums
@model RegistrationSubmissionDetailsViewModel

<div class="govuk-button-group">
    @if (Model.Status == RegistrationSubmissionStatus.queried ||
    Model.Status != RegistrationSubmissionStatus.granted &&
    Model.Status != RegistrationSubmissionStatus.refused &&
    Model.Status != RegistrationSubmissionStatus.cancelled)
    {
        <ul class="govuk-list govuk-list__horizontal govuk-list__last-spaced">
            <li>
                <a class="govuk-button " href="@Url.Action(
                "GrantRegistrationSubmission",
                "RegistrationSubmissions",
                new
                {
                  submissionId = Model.SubmissionId
                })">
                    @Localizer["RegistrationSubmissionDetails.GrantRegistration"]
                </a> 
            </li>
            <li>
                <a class="govuk-button govuk-button--inverse" href="@Url.Action(
                "QueryRegistrationSubmission",
                "RegistrationSubmissions",
                new
                {
                  submissionId= Model.SubmissionId
                })">
                    @Localizer["RegistrationSubmissionDetails.QueryRegistration"]
                </a>
            </li>
            <li>
                <a class="govuk-button govuk-button--warning" href="@Url.Action(
                "RejectRegistrationSubmission",
                "RegistrationSubmissions",
                new
                {
                  submissionId = Model.SubmissionId
                })">
                    @Localizer["RegistrationSubmissionDetails.RefuseRegistration"]
                </a> 
            </li>
        </ul>
    }

    @if (Model.Status == RegistrationSubmissionStatus.granted)
    {
        <a class="govuk-button govuk-button--secondary" href="@Url.Action(
                "CancelRegistrationSubmission",
                "RegistrationSubmissions",
                new
                {
                  organisationId = Model.OrganisationId
                })">
            @Localizer["RegistrationSubmissionDetails.CancelRegistration"]
        </a>
    }
</div>
