@using EPR.RegulatorService.Frontend.Core.Extensions
@using EPR.RegulatorService.Frontend.Web.Configs
@using EPR.RegulatorService.Frontend.Web.Constants
@using EPR.RegulatorService.Frontend.Web.ViewModels.Registrations
@using Microsoft.Extensions.Options

@model RegistrationDetailsViewModel

@inject IOptions<ExternalUrlsOptions> ExternalUrls

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      @Localizer["SummaryList.Title"]
      @if (!string.IsNullOrEmpty(Model.SubmissionPeriod))
      {
        <span> - @Model.SubmissionPeriod</span>
                @Localizer["SummaryList.SubmissionPeriodSuffix"]
      }
      
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        @switch (Model.Status)
        {
          case SubmissionStatus.Pending:
            <strong class="govuk-tag govuk-tag--blue">@SharedLocalizer["Tag.Pending"]</strong>
            break;
          case SubmissionStatus.Accepted:
            <strong class="govuk-tag govuk-tag--green">@SharedLocalizer["Tag.Accepted"]</strong>
            break;
          case SubmissionStatus.Rejected:
            <strong class="govuk-tag govuk-tag--red">@SharedLocalizer["Tag.Rejected"]</strong>
            break;
        }
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          @Localizer["SummaryList.SubTitle.TimeAndDateOfSubmission"]
        </dt>
        <dd class="govuk-summary-list__value">
          @Model.FormattedTimeAndDateOfSubmission
        </dd>
        <dd class="govuk-summary-list__value"></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          @Localizer["SummaryList.SubTitle.SubmittedOnTime"]
        </dt>
        <dd class="govuk-summary-list__value">
          @Model.SubmittedOnTime.ToYesNo()
        </dd>
        <dd class="govuk-summary-list__value"></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          @Localizer["SummaryList.SubTitle.SubmittedBy"]
        </dt>
        <dd class="govuk-summary-list__value">
          @Model.SubmittedBy
        </dd>
        <dd class="govuk-summary-list__value"></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          @Localizer["SummaryList.SubTitle.AccountRole"]
        </dt>
        <dd class="govuk-summary-list__value">
          @Model.AccountRole
        </dd>
        <dd class="govuk-summary-list__value"></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          @Localizer["SummaryList.SubTitle.Telephone"]
        </dt>
        <dd class="govuk-summary-list__value">
          @Model.Telephone
        </dd>
        <dd class="govuk-summary-list__value"></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          @Localizer["SummaryList.SubTitle.Email"]
        </dt>
        <dd class="govuk-summary-list__value">
          @Model.Email
        </dd>
        <dd class="govuk-summary-list__value"></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          @Localizer["SummaryList.SubTitle.DeclaredBy"]
        </dt>
        <dd class="govuk-summary-list__value">
          @Model.DeclaredBy
        </dd>
        <dd class="govuk-summary-list__value"></dd>
      </div>
       @if (!string.IsNullOrEmpty(Model.OrganisationDetailsFileName))
        {
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  @Localizer["SummaryList.SubTitle.OrganisationDetails"]
              </dt>
              <dd class="govuk-summary-list__value">
                  @Model.OrganisationDetailsFileName
              </dd>
              <dd class="govuk-summary-list__value epr-summary-list-download-link">
                  @Html.ActionLink(SharedLocalizer["Link.Download"],
                  "FileDownload",
                  "Registrations",
                  new
                  {
                      downloadType = FileDownloadTypes.OrganisationDetails
                  })
              </dd>
          </div>
      }

      @if (!string.IsNullOrEmpty(Model.BrandDetailsFileName))
      {
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            @Localizer["SummaryList.SubTitle.BrandDetails"]
          </dt>
          <dd class="govuk-summary-list__value">
            @Model.BrandDetailsFileName
          </dd>
          <dd class="govuk-summary-list__value epr-summary-list-download-link">
              @Html.ActionLink(SharedLocalizer["Link.Download"],
              "FileDownload",
              "Registrations",
              new
              {
                downloadType = FileDownloadTypes.BrandDetails
              })
            </dd>
        </div>
      }

      @if (!string.IsNullOrEmpty(Model.PartnershipDetailsFileName))
      {
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            @Localizer["SummaryList.SubTitle.PartnerDetails"]
          </dt>
          <dd class="govuk-summary-list__value">
            @Model.PartnershipDetailsFileName
          </dd>
          <dd class="govuk-summary-list__value epr-summary-list-download-link">
              @Html.ActionLink(SharedLocalizer["Link.Download"],
                "FileDownload",
                "Registrations",
                new
                {
                  downloadType = FileDownloadTypes.PartnershipDetails
                })
          </dd>
        </div>
      }
      @if (!string.IsNullOrEmpty(Model.RejectionReason) && Model.Status == SubmissionStatus.Rejected)
      {
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            @Localizer["SummaryList.SubTitle.ReasonForRejection"]
          </dt>
          <dd class="govuk-summary-list__value">
            @Model.RejectionReason
          </dd>
          <dd class="govuk-summary-list__value"></dd>
        </div>
      }
      @if (Model.Status == EnrolmentStatus.Pending)
      {
        <div class="govuk-summary-list__row">
        </div>
      }
    </dl>
    @if (Model.Status == EnrolmentStatus.Pending)
    {
      <div class="govuk-inset-text">@Localizer["SummaryList.Information.Text", Model.OrganisationName]</div>
      <div class="govuk-button-group govuk-!-margin-top-2">

        <form class="govuk-!-display-inline-block" method="get" asp-controller="Registrations" asp-action="AcceptRegistrationSubmission">
            <button class="govuk-button" data-module="govuk-button">
                @SharedLocalizer["Button.Accept"]
            </button>
        </form>

        <form class="govuk-!-display-inline-block" method="get" asp-controller="Registrations" asp-action="RejectRegistration">
          <button class="govuk-button govuk-button--secondary govuk-button--warning" data-module="govuk-button">
            @SharedLocalizer["Button.Reject"]
          </button>
        </form>
      </div>
    }
  </div>
</div>

