@model string

@{
    var refreshUrl = Model;
}

<div class="govuk-grid-row spinner-overlay" id="global-spinner" aria-live="polite" aria-busy="true" role="alert">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">@Localizer["SpinnerHeader"]</h1>

            <noscript>
                <p class="govuk-body">@Localizer["SpinnerNoscriptParagraph1"]</p>
                <p class="govuk-body">
                    @Localizer["SpinnerNoscriptParagraph2"]
                    <a class="govuk-link" href="@refreshUrl">@Localizer["SpinnerNoscriptLinkText"]</a>.
                </p>
                <p class="govuk-body">@Localizer["SpinnerNoscriptParagraph3"]</p>
                <img src="~/images/spinner.gif" width="50" height="50" alt="spinner_alt_text" runat="server">
            </noscript>

            <div class="js-on">
                <p class="govuk-body">@Localizer["SpinnerJsParagraph1"]</p>
                <p class="govuk-body">@Localizer["SpinnerJsParagraph2"]</p>

                <img src="~/images/spinner.gif" width="50" height="50" alt="spinner_alt_text" runat="server">
            </div>
        </div>
    </div>
</div>

