@using EPR.RegulatorService.Frontend.Web.Extensions
@using EPR.RegulatorService.Frontend.Web.ViewModels.RegistrationSubmissions
@using EPR.RegulatorService.Frontend.Web.ViewModels.Shared.GovUK
@using EPR.RegulatorService.Frontend.Web.Constants

@model GrantRegistrationSubmissionViewModel
@{
    ViewData["Title"] = Localizer[Model.IsResubmission ? "PageTitle.Resubmission" : "PageTitle"];
    var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
    var scriptNonce = (string?)Context.Items[ContextKeys.ScriptNonceKey];
}

@using (Html.BeginRouteForm("GrantRegistrationSubmission", new { submissionId = Model.SubmissionId }, FormMethod.Post))
{
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div id="grantRegistrationWrapper">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        @if (!ViewData.ModelState.IsValid)
                        {
                            @await Html.PartialAsync("Partials/Govuk/_ErrorSummary", errorsViewModel)
                        }
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <div class="@(ViewData.ModelState.IsValid ? string.Empty : "govuk-form-group--error")">
                                    <span class="govuk-caption-xl">@Localizer["Caption"]</span>
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                        <h1 class="govuk-fieldset__heading">
                                            @Localizer[Model.IsResubmission ? "PageHeading.Resubmission" : "PageHeading"]
                                        </h1>
                                    </legend>
                                    <div class="govuk-radios" data-module="govuk-radios">
                                        @await Html.PartialAsync("Partials/Govuk/_FormItemError", errorsViewModel[nameof(GrantRegistrationSubmissionViewModel.IsGrantRegistrationConfirmed)])
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input"
                                                   type="radio"
                                                   aria-labelledby="radio-label-accepted-true"
                                                   gov-for="IsGrantRegistrationConfirmed"
                                                   gov-first-option="true"
                                                   gov-value=true>
                                            <label id="radio-label-accepted-true"
                                                   class="govuk-label govuk-radios__label"
                                                   gov-for="IsGrantRegistrationConfirmed"
                                                   gov-first-option="true"
                                                   gov-value=true>
                                                @SharedLocalizer["Yes"]
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input"
                                                   type="radio"
                                                   aria-labelledby="radio-label-accepted-false"
                                                   gov-for="IsGrantRegistrationConfirmed"
                                                   gov-first-option="false"
                                                   gov-value=false>
                                            <label id="radio-label-accepted-false"
                                                   class="govuk-label govuk-radios__label"
                                                   gov-for="IsGrantRegistrationConfirmed"
                                                   gov-first-option="false"
                                                   gov-value=false>
                                                @SharedLocalizer["No"]
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <button class="govuk-button" data-module="govuk-button" id="grantRegistrationSubmissionButton">
                            @SharedLocalizer["Continue"]
                        </button>
                    </div>
                </div>
                <div class="govuk-width-container">
                    <a href="@ViewBag.BackToAllSubmissionsUrl" class="govuk-link govuk-link--no-visited-state">
                        @SharedLocalizer["BackToAllSubmissions"]
                    </a>
                </div>
            </div>
            @await Html.PartialAsync("Partials/_Spinner", "regulators/manage-registration-submissions")
        </main>
    </div>
}

@section Scripts
{
    <script src="~/js/loadingspinner.js"></script>
    <script nonce="@scriptNonce">
        document.addEventListener("DOMContentLoaded", InitSpinner("grantRegistrationWrapper", "grantRegistrationSubmissionButton"));
    </script>
}
