@using EPR.RegulatorService.Frontend.Web.ViewModels.RegistrationSubmissions

@model OrganisationRegistrationDetailsViewModel

@{
    ViewData["Title"] = Localizer["OrganisationRegistrationDetails.PageTitle"];
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <span class="govuk-caption-xl">
                    @Localizer["OrganisationRegistrationDetails.Caption"]
                </span>
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-4" for="@nameof(Model.OrganisationName)">
                    @Model.OrganisationName
                </h1>

                <div class="govuk-!-margin-bottom-4">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">@Localizer["OrganisationRegistrationDetails.OrganisationType"]</h3>
                    <p class="govuk-body">@Model.OrganisationType</p>
                </div>

                <div class="govuk-!-margin-bottom-4">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">@Localizer["OrganisationRegistrationDetails.OrganisationIdTitle"]</h3>
                    <p class="govuk-body">@Localizer["OrganisationRegistrationDetails.OrganisationIdSubTitle"] @Model.OrganisationReference</p>
                </div>

                <div style="padding: 6px 0px; margin: 30px 0px; background-color: #cce2d8; padding: 15px;  width: 350px;">
                    <h3 class="govuk-heading-s" style="padding: 6px 0px; margin: 0px; color: #005a30;">
                        @Localizer["OrganisationRegistrationDetails.ApplicationReferenceNumber"]
                    </h3>
                    <p class="govuk-body">@Model.RegistrationReferenceNumber</p>
                </div>

                <div class="govuk-!-margin-bottom-4">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">@Localizer["OrganisationRegistrationDetails.RegisteredAddress"]</h3>
                    <p class="govuk-body govuk-!-margin-bottom-0">@Model.BusinessAddress.BuildingNumber @Model.BusinessAddress.BuildingName</p>
                    <p class="govuk-body govuk-!-margin-bottom-0">@Model.BusinessAddress.Street</p>
                    <p class="govuk-body govuk-!-margin-bottom-0">@Model.BusinessAddress.County</p>
                    <p class="govuk-body">@Model.BusinessAddress.PostCode</p>
                </div>

                <div class="govuk-!-margin-bottom-4">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">@Localizer["OrganisationRegistrationDetails.CompaniesHouseNumber"]</h3>
                    @if (!string.IsNullOrEmpty(Model.CompaniesHouseNumber))
                    {
                        <p class="govuk-body govuk-!-margin-bottom-0">@Model.CompaniesHouseNumber</p>
                        <companies-house-link gov-value="@Model.CompaniesHouseNumber" class="govuk-body govuk-link--no-visited-state">
                            @Localizer["OrganisationRegistrationDetails.CompaniesHouseRegister"]
                        </companies-house-link>
                    }
                    else
                    {
                        <p class="govuk-body">@Localizer["OrganisationRegistrationDetails.NotListed"]</p>
                    }
                </div>

                <div class="govuk-!-margin-bottom-4">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">@Localizer["OrganisationRegistrationDetails.PowerBiTitle"]</h3>
                    <p class="govuk-body">
                      @Localizer["OrganisationRegistrationDetails.PowerBiSubTitle"]
                        <a href="@Model.PowerBiLogin" target="_blank" class="govuk-link govuk-link--no-visited-state">@SharedLocalizer["Link.LogIntoPowerBI"]</a>.</p>
                </div>

            </div>
        </div>
    </main>
</div>
