@using EPR.RegulatorService.Frontend.Web.ViewModels.RegistrationSubmissions

@model RegistrationSubmissionsViewModel

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-caption-xl">
                    @Localizer["EnvironmentAgency.Title"]
                </h1>
                <h2 class="govuk-heading-xl govuk-!-margin-bottom-8">
                    @Localizer["PageHeading"]
                </h2>
                <div id="contact-hint" class="govuk-hint">
                    @Localizer["Subtitle"] <a href="@Model.PowerBiLogin" target="_blank" class="govuk-link govuk-link--no-visited-state">@SharedLocalizer["Link.LogIntoPowerBI"]</a>.
                </div>

                @using (Html.BeginForm("RegistrationSubmissions", "RegistrationSubmissions", FormMethod.Get))
                {
                    <div class="epr-filter-panel">
                        <div class="govuk-width-container">
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    <div class="epr-filter-panel-full">
                                        <h2 class="govuk-heading-m govuk-!-margin-bottom-5">
                                          @Localizer["FilterOptions.Title"].Value
                                        </h2>
                                        <button type="submit" class="govuk-button epr-filter-panel-control" data-module="govuk-button">
                                          @SharedLocalizer["ApplyFilters"].Value
                                        </button>
                                        @Html.ActionLink(SharedLocalizer["ClearFilters"].Value,
                                        "RegistrationSubmissions",
                                        "RegistrationSubmissions",
                                        new { clearFilters = true },
                                        new { @class = "govuk-body govuk-link govuk-link--no-visited-state epr-filter-panel-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <h2 class="govuk-heading-m">@Localizer["FilteredResults.Title"]</h2>
                <br />
                <table class="govuk-table responsive-table" aria-label="Organisation Application Listing">
                    <thead role="rowgroup" class="govuk-table__head">
                        <tr role="row" class="govuk-table__row">
                            <th role="columnheader" scope="col" class="govuk-table__header epr-width-thirty-percent">Organisation</th>
                            <th role="columnheader" scope="col" class="govuk-table__header epr-width-thirty-percent">Organisation ID</th>
                            <th role="columnheader" scope="col" class="govuk-table__header epr-width-thirty-percent">Submission date and time</th>
                            <th role="columnheader" scope="col" class="govuk-table__header epr-width-ten-percent">Submission year</th>
                            <th role="columnheader" scope="col" class="govuk-table__header epr-width-ten-percent">Submission status</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr role="row" class="govuk-table__row">
                            <td role="gridcell" class="govuk-table__cell vertical-middle-align">
                                <span class="responsive-table__heading" aria-hidden="true">Organisation</span>
                                <p class="govuk-body">
                                    <b></b>
                                </p>
                            </td>
                            <td role="gridcell" class="govuk-table__cell vertical-middle-align">
                                <span class="responsive-table__heading" aria-hidden="true">Organisation ID</span>
                                <p class="govuk-body"></p>
                            </td>
                            <td role="gridcell" class="govuk-table__cell vertical-middle-align">
                                <span class="responsive-table__heading" aria-hidden="true">Submission date and time</span>
                                <p class="govuk-body"></p>
                            </td>
                            <td role="gridcell" class="govuk-table__cell vertical-middle-align">
                                <span class="responsive-table__heading" aria-hidden="true">Submission year</span>
                                <p class="govuk-body"></p>
                            </td>
                            <td role="gridcell" class="govuk-table__cell vertical-middle-align">
                                <span class="responsive-table__heading" aria-hidden="true">Submission status</span>
                                <p class="govuk-body"></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
