@using EPR.RegulatorService.Frontend.Web.ViewModels.RegistrationSubmissions
@using EPR.RegulatorService.Frontend.Core.Extensions
@using EPR.RegulatorService.Frontend.Web.ViewModels.Shared
@using EPR.RegulatorService.Frontend.Core.Enums

@model RegistrationSubmissionsViewModel


@{
    ViewData["Title"] = Localizer["PageTitle"];
    // EPR.RegulatorService.Frontend.Core.Services.IFacadeService facadeService;
    // var pagedOrganisationRegistrations = await facadeService.GetRegistrationSubmissions(Model.ListViewModel.RegistrationsFilterModel);
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
            <h1 class="govuk-caption-xl">
                     @Model.AgencyName
                 </h1>
                 <h2 class="govuk-heading-xl govuk-!-margin-bottom-8">
                     @Localizer["PageHeading"]
                 </h2>
                 <div id="contact-hint" class="govuk-hint">
                     @Localizer["Subtitle"] <a href="@Model.PowerBiLogin" target="_blank" class="govuk-link govuk-link--no-visited-state">@SharedLocalizer["Link.LogIntoPowerBI"]</a>.
                 </div>
                   @await Html.PartialAsync("Partials/_RegistrationSubmissionsFilters", Model.ListViewModel.RegistrationsFilterModel)

            @await Component.InvokeAsync("RegistrationSubmissionList", new { request = Model.ListViewModel })
        </div>
    </main>
</div>
