@using EPR.RegulatorService.Frontend.Web.ViewModels.RegistrationSubmissions

@model RegistrationSubmissionsViewModel

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-caption-xl">
                    @Localizer["EnvironmentAgency.Title"]
                </h1>
                <h2 class="govuk-heading-xl govuk-!-margin-bottom-8">
                    @Localizer["PageHeading"]
                </h2>
                <div id="contact-hint" class="govuk-hint">
                    @Localizer["Subtitle"] <a href="@Model.PowerBiLogin" target="_blank" class="govuk-link govuk-link--no-visited-state">@SharedLocalizer["Link.LogIntoPowerBI"]</a>.
                </div>

                @using (Html.BeginForm("RegistrationSubmissions", "RegistrationSubmissions", FormMethod.Get))
                {
                    <div class="epr-filter-panel">
                        <div class="govuk-width-container">
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    <div class="epr-filter-panel-full">
                                        <h2 class="govuk-heading-m govuk-!-margin-bottom-5">
                                            @Localizer["FilterOptions.Title"].Value
                                        </h2>
                                        <button type="submit" class="govuk-button epr-filter-panel-control" data-module="govuk-button">
                                            @SharedLocalizer["ApplyFilters"].Value
                                        </button>
                                        @Html.ActionLink(SharedLocalizer["ClearFilters"].Value,
                                                 "RegistrationSubmissions",
                                                 "RegistrationSubmissions",
                                                 new { clearFilters = true },
                                                 new { @class = "govuk-body govuk-link govuk-link--no-visited-state epr-filter-panel-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="govuk-grid-column-full">

                <h2 class="govuk-heading-m govuk-!-margin-bottom-5">
                    @Localizer["FilterResults.Title"].Value 
                </h2>
                <table class="govuk-table responsive-table" aria-label="Organisation Application Listing">
                    <thead role="rowgroup" class="govuk-table__head">
                        <tr role="row" class="govuk-table__row">
                            <th role="columnheader" scope="col" class="govuk-table__header epr-width-thirty-percent">@Localizer["Table.Header.Company"]</th>
                            <th role="columnheader" scope="col" class="govuk-table__header epr-width-thirty-percent">@Localizer["Table.Header.CompanyId"]</th>
                            <th role="columnheader" scope="col" class="govuk-table__header epr-width-ten-percent">@Localizer["Table.Header.ApplicationDate"]</th>
                            <th role="columnheader" scope="col" class="govuk-table__header epr-width-ten-percent">@Localizer["Table.Header.Year"]</th>
                            <th role="columnheader" scope="col" class="govuk-table__header epr-width-ten-percent">@Localizer["Table.Header.Status"]</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">

                        <tr role="row" class="govuk-table__row">
                            <td role="gridcell" class="govuk-table__cell vertical-middle-align">
                                <p class="govuk-link">Name / Link</p>
                                <p class="orgNameFilter Large producer">Type</p>
                            </td>
                            <td role="gridcell" class="govuk-table__cell vertical-middle-align">
                                <p class="govuk-body">Org ID</p>
                                <p class="govuk-body">Ref No: ########</p>
                            </td>
                            <td role="gridcell" class="govuk-table__cell vertical-middle-align">
                                <p class="govuk-body">Date</p>
                                <p class="govuk-body">Time</p>
                            </td>
                            <td role="gridcell" class="govuk-table__cell vertical-middle-align">
                                <p class="govuk-body">Year</p>
                            </td>
                            <td role="gridcell" class="govuk-table__cell vertical-middle-align">
                                <strong class="govuk-tag govuk-tag--green">Granted</strong>
                            </td>
                        </tr>

                        @* @foreach (var organisation in Model.PagedOrganisationApplications)
                        {
                        @using (Html.BeginForm("Applications", "Applications", new { organisationId = organisation.OrganisationId }, FormMethod.Post))
                        {
                        <tr role="row" class="govuk-table__row">
                        <td role="gridcell" class="govuk-table__cell vertical-middle-align">
                        <span class="responsive-table__heading" aria-hidden="true">@Localizer["Table.Header.Company"]</span>
                        <p class="govuk-body">
                        <b>@organisation.OrganisationName</b>
                        </p>
                        </td>
                        <td role="gridcell" class="govuk-table__cell vertical-middle-align">
                        <span class="responsive-table__heading" aria-hidden="true">@Localizer["Table.Header.ApplicationDate"]</span>
                        <p class="govuk-body">
                        @organisation.LastUpdate.ToString("d MMMM yyyy")
                        </p>
                        </td>
                        <td role="gridcell" class="govuk-table__cell vertical-middle-align">
                        <span class="responsive-table__heading" aria-hidden="true">@Localizer["Table.Header.Type"]</span>
                        <p class="govuk-body">
                        @if (organisation.Enrolments.HasApprovedPending)
                        {
                        @Localizer["ApprovedPerson"]
                        <br />
                        }
                        @if (organisation.Enrolments.HasDelegatePending)
                        {
                        @Localizer["DelegatedPerson"]
                        <br />
                        }
                        </p>
                        </td>
                        <td role="gridcell" class="govuk-table__cell vertical-middle-align">
                        <span class="responsive-table__heading" aria-hidden="true">@Localizer["Table.Header.Action"]</span>
                        <p class="govuk-body">
                        <button type="submit" class="govuk-body govuk-link epr-link-no-visited-state" data-module="govuk-button">@SharedLocalizer["View"].Value</button>
                        </p>
                        </td>
                        </tr>
                        }
                        } *@
                    </tbody>
                </table>

            </div>
        </div>
    </main>
</div>
