@using EPR.RegulatorService.Frontend.Web.ViewModels.RegistrationSubmissions

@model RegistrationSubmissionsViewModel

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-caption-xl">
                    @Localizer["EnvironmentAgency.Title"]
                </h1>
                <h2 class="govuk-heading-xl govuk-!-margin-bottom-8">
                    @Localizer["PageHeading"]
                </h2>
                <div id="contact-hint" class="govuk-hint">
                    @Localizer["Subtitle"] <a href="@Model.PowerBiLogin" target="_blank" class="govuk-link govuk-link--no-visited-state">@SharedLocalizer["Link.LogIntoPowerBI"]</a>.
                </div>

                @using (Html.BeginForm("RegistrationSubmissions", "RegistrationSubmissions", FormMethod.Get))
                {
                    <div class="epr-filter-panel">
                        <div class="govuk-width-container">
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    <div class="epr-filter-panel-full">
                                        <h2 class="govuk-heading-m govuk-!-margin-bottom-5">
                                            @Localizer["FilterOptions.Title"].Value
                                        </h2>
                                        <button type="submit" class="govuk-button epr-filter-panel-control" data-module="govuk-button">
                                            @SharedLocalizer["ApplyFilters"].Value
                                        </button>
                                        @Html.ActionLink(SharedLocalizer["ClearFilters"].Value,
                                                 "RegistrationSubmissions",
                                                 "RegistrationSubmissions",
                                                 new { clearFilters = true },
                                                 new { @class = "govuk-body govuk-link govuk-link--no-visited-state epr-filter-panel-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @await Component.InvokeAsync("RegistrationSubmissionList", new RegistrationSubmissionsListRequest()
           {
               PageNumber = (int)Model.PageNumber
           })
            </div>
        </div>
    </main>
</div>
