@using EPR.RegulatorService.Frontend.Core.Extensions
@using EPR.RegulatorService.Frontend.Web.Helpers
@using EPR.RegulatorService.Frontend.Web.ViewModels.RegistrationSubmissions

@model RegistrationSubmissionDetailsViewModel

@{
    ViewData["Title"] = Localizer["RegistrationSubmissionDetails.PageTitle"];
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <span class="govuk-caption-xl">
                    @Localizer["RegistrationSubmissionDetails.Caption"]
                </span>
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-4" for="@nameof(Model.OrganisationName)">
                    @Model.OrganisationName
                </h1>

                <div class="govuk-!-margin-bottom-4">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">@Localizer["RegistrationSubmissionDetails.OrganisationType"]</h3>
                    <p class="govuk-body">@SharedLocalizer[Model.OrganisationType.GetDescription()]</p>
                </div>

                <div class="govuk-!-margin-bottom-4">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">@Localizer["RegistrationSubmissionDetails.OrganisationIdTitle"]</h3>
                    <p class="govuk-body">@Localizer["RegistrationSubmissionDetails.OrganisationIdSubTitle"] @Model.OrganisationReference</p>
                </div>

                <status-panel heading="@Localizer[ReferenceNumberPanelHelper.GetPanelTitle(Model)].Value"
                              content="@ReferenceNumberPanelHelper.GetPanelContent(Model)"
                              status="@SharedLocalizer[Model.Status.ToString()]">
                </status-panel>

                <div class="govuk-!-margin-bottom-4">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">@Localizer["RegistrationSubmissionDetails.RegisteredAddress"]</h3>
                    <p class="govuk-body govuk-!-margin-bottom-0">@Model.BusinessAddress.BuildingNumber @Model.BusinessAddress.BuildingName</p>
                    <p class="govuk-body govuk-!-margin-bottom-0">@Model.BusinessAddress.Street</p>
                    <p class="govuk-body govuk-!-margin-bottom-0">@Model.BusinessAddress.County</p>
                    <p class="govuk-body">@Model.BusinessAddress.PostCode</p>
                </div>

                <div class="govuk-!-margin-bottom-4">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">@Localizer["RegistrationSubmissionDetails.CompaniesHouseNumber"]</h3>
                    @if (!string.IsNullOrEmpty(Model.CompaniesHouseNumber))
                    {
                        <p class="govuk-body govuk-!-margin-bottom-0">@Model.CompaniesHouseNumber</p>
                        <companies-house-link gov-value="@Model.CompaniesHouseNumber" class="govuk-body govuk-link--no-visited-state">
                            @Localizer["RegistrationSubmissionDetails.CompaniesHouseRegister"]
                        </companies-house-link>
                    }
                    else
                    {
                        <p class="govuk-body">@Localizer["RegistrationSubmissionDetails.NotListed"]</p>
                    }
                </div>

                <div class="govuk-!-margin-bottom-4">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">@Localizer["RegistrationSubmissionDetails.PowerBiTitle"]</h3>
                    <p class="govuk-body">
                        @Localizer["RegistrationSubmissionDetails.PowerBiSubTitle"]
                        <a href="@Model.PowerBiLogin" target="_blank" class="govuk-link govuk-link--no-visited-state">@SharedLocalizer["Link.LogIntoPowerBI"]</a>.
                    </p>
                </div>

                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper" style="align-items: center;">
                        <h2 class="govuk-summary-card__title">@Localizer["RegistrationSubmissionDetails.SubmissionDetailsTitle"]</h2>
                        <div style="padding-top: 20px;">
                            <strong class="govuk-tag govuk-tag--green" style="margin-left: 279px; justify-content: none">
                                @Localizer[Model.Status.ToString()]
                            </strong>
                            <p style="font-size: 16px; colour:#505a5f; text-align: right;padding-top:10px;">
                              @Localizer["RegistrationSubmissionDetails.DecisionDateAndTime"]
                            </p>
                        </div>
                        <ul class="govuk-summary-card__actions">
                            <li class="govuk-summary-card__action">
                            </li>
                        </ul>
                    </div>
                    <div class="govuk-summary-card__content" style="padding-bottom: 0px;">
                        <dl class="govuk-summary-list govuk-!-margin-bottom-4">
                            <div class="govuk-summary-list__row">
                                <dd class="govuk-summary-list__value">
                                    <strong>@Localizer["RegistrationSubmissionDetails.SubmissionDateAndTime"]</strong>
                                </dd>
                                <dd class="govuk-summary-list__value">
                                    @Localizer["RegistrationSubmissionDetails.SubmissionDateAndTimeModel"]
                                </dd>

                            </div>
                            <div class="govuk-summary-list__row">
                                <dd class="govuk-summary-list__value">
                                    <strong>@Localizer["RegistrationSubmissionDetails.SubmittedOnTime"]</strong>
                                </dd>
                                <dd class="govuk-summary-list__value">
                                    @Localizer["RegistrationSubmissionDetails.SubmittedOnTimeModel"]
                                </dd>

                            </div>
                            <div class="govuk-summary-list__row">
                                <dd class="govuk-summary-list__value">
                                    <strong>@Localizer["RegistrationSubmissionDetails.SubmittedBy"]</strong>
                                </dd>
                                <dd class="govuk-summary-list__value">
                                    @Localizer["RegistrationSubmissionDetails.SubmittedByModel"]
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dd class="govuk-summary-list__value">
                                    <strong>@Localizer["RegistrationSubmissionDetails.AccountRole"]</strong>
                                </dd>
                                <dd class="govuk-summary-list__value">
                                    @Localizer["RegistrationSubmissionDetails.AccountRoleModel"]
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dd class="govuk-summary-list__value">
                                    <strong>@Localizer["RegistrationSubmissionDetails.Telephone"]</strong>
                                </dd>
                                <dd class="govuk-summary-list__value">
                                    @Localizer["RegistrationSubmissionDetails.TelephoneModel"]
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dd class="govuk-summary-list__value">
                                    <strong>@Localizer["RegistrationSubmissionDetails.Email"]</strong>
                                </dd>
                                <dd class="govuk-summary-list__value">
                                    @Localizer["RegistrationSubmissionDetails.EmailModel"]
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dd class="govuk-summary-list__value">
                                    <strong>@Localizer["RegistrationSubmissionDetails.DeclaredBy"]</strong>
                                </dd>
                                <dd class="govuk-summary-list__value">
                                    @Localizer["RegistrationSubmissionDetails.DeclaredByModel"]
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dd class="govuk-summary-list__value">
                                    <strong>@Localizer["RegistrationSubmissionDetails.OrganisationDetails"]</strong>
                                </dd>
                                <dd class="govuk-summary-list__value">
                                    @Localizer["RegistrationSubmissionDetails.OrganisationDetailsModel"]
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link--no-visited-state" href="#">
                                        @Localizer["RegistrationSubmissionDetails.Download"]
                                    </a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dd class="govuk-summary-list__value">
                                    <strong>@Localizer["RegistrationSubmissionDetails.BrandDetails"]</strong>
                                </dd>
                                <dd class="govuk-summary-list__value">
                                    @Localizer["RegistrationSubmissionDetails.BrandDetailsModel"]
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link--no-visited-state" href="#">
                                        @Localizer["RegistrationSubmissionDetails.Download"]
                                    </a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dd class="govuk-summary-list__value">
                                    <strong>@Localizer["RegistrationSubmissionDetails.PartnerDetails"]</strong>
                                </dd>
                                <dd class="govuk-summary-list__value">
                                    @Localizer["RegistrationSubmissionDetails.PartnerDetailsModel"]
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link--no-visited-state" href="#">
                                        @Localizer["RegistrationSubmissionDetails.Download"]
                                    </a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row" style="border: 0px; height:30px;">
                                <dd class="govuk-summary-list__value">
                                    <strong></strong>
                                </dd>
                                <dd class="govuk-summary-list__value">
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                </dd>
                            </div>
                        </dl>

                    </div>
                </div>

            </div>
        </div>
    </main>
</div>
