@using EPR.RegulatorService.Frontend.Web.Extensions
@using EPR.RegulatorService.Frontend.Web.ViewModels.RegistrationSubmissions
@using EPR.RegulatorService.Frontend.Web.ViewModels.Shared.GovUK
@using System.Globalization
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SelectFeesViewModel

@{
	ViewData["Title"] = Localizer["ConfirmRegistrationRefusal.PageTitle"];
	var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
}

@using (Html.BeginRouteForm("SelectFee", new { submissionId = Model.SubmissionId }, FormMethod.Post))
{
	<div class="govuk-width-container">
		<main class="govuk-main-wrapper" id="main-content" role="main">
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
					@if (!ViewData.ModelState.IsValid)
					{
						@await Html.PartialAsync("Partials/Govuk/_ErrorSummary", errorsViewModel)
					}

					<div class="govuk-form-group">
						<fieldset class="govuk-fieldset">
							<div class="@(ViewData.ModelState.IsValid ? string.Empty : "govuk-form-group--error")">
								<h1 class="govuk-heading-xl" style="margin-bottom: 3%;">@SharedLocalizer["WaveFees.WhichFees"]</h1>
								@if (Model.IsComplianceSchemeSelected)
								{
									<h3 class="govuk-heading-s">
										<p class="@(ViewData.ModelState.IsValid ? "govuk-body" : "govuk-body govuk-error-message")"
										   style="padding: 7px 0px; margin: 0px;">@SharedLocalizer["WaveFees.SelectAll"]</p>
									</h3>

									@if (Model.ApplicationFeeSectionEnable)
									{
										<div class="govuk-form-group">
											<fieldset class="govuk-fieldset" aria-describedby="contact-hint">
												<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
													<h2 class="govuk-heading-m">
														@SharedLocalizer["WaveFees.ApplicationFee"]
													</h2>
												</legend>
												<div class="govuk-checkboxes" data-module="govuk-checkboxes">
													<div class="govuk-checkboxes__item">
														<input class="govuk-checkboxes__input" id="IsComplianceSchemeChecked" asp-for="IsComplianceSchemeChecked"
															   name="IsComplianceSchemeChecked"
															   type="checkbox" aria-controls="conditional-compliance-waiver" aria-expanded="true">
														<label class="govuk-label govuk-checkboxes__label" asp-for="IsComplianceSchemeChecked">
															@SharedLocalizer["WaveFees.ComplianceScheme"]
														</label>
														<div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
															@Model.ApplicationFeeInPounds
															<input type="hidden" name="ApplicationFee" value="@Model.ApplicationFee" />
														</div>
														<div class="govuk-checkboxes__conditional" id="conditional-compliance-waiver">
															<div class="govuk-form-group">
																@* @await Html.PartialAsync("Partials/Govuk/_FormItemError", errorsViewModel[nameof(SelectFeesViewModel.WavedComplianceSchemeAmount)]) *@
																<label class="govuk-label" for="WavedComplianceSchemeAmount">
																	@SharedLocalizer["WaveFees.EnterWaiver"]
																</label>
																<div class="govuk-input__wrapper">
																	<div class="govuk-input__prefix" aria-hidden="true">£</div>
																	<input class="@(ViewData.ModelState.IsValid ? "govuk-input govuk-input--width-5" : "govuk-input govuk-input--width-5 govuk-input--error" )"
																		   id="WavedComplianceSchemeAmount"
																		   name="WavedComplianceSchemeAmount"
																		   type="number"
																		   min="0"
																		   value="@Model.WavedComplianceSchemeAmount"
																		   aria-describedby="WavedComplianceSchemeAmount"
																		   spellcheck="false">
																</div>
															</div>
														</div>
													</div>
												</div>
											</fieldset>
										</div>
									}

									<div class="govuk-form-group">
										<fieldset class="govuk-fieldset" aria-describedby="contact-hint">
											<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
												<h2 class="govuk-heading-m">
													@SharedLocalizer["WaveFees.SchemeMembers"]
												</h2>
											</legend>
											@if (Model.SmalProducerSectionEnable)
											{
												<div class="govuk-checkboxes" data-module="govuk-checkboxes">
													<div class="govuk-checkboxes__item">
														<input class="govuk-checkboxes__input" id="IsSmallProducerChecked" asp-for="IsSmallProducerChecked"
															   name="IsSmallProducerChecked" type="checkbox" aria-controls="conditional-small-producer" aria-expanded="false">
														<label class="govuk-label govuk-checkboxes__label" for="IsSmallProducerChecked">
															@Model.SmallProducerCount  @SharedLocalizer["WaveFees.SmallProducers"]
															<input type="hidden" name="SmallProducerCount" value="@Model.SmallProducerCount" />
														</label>
														<div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
															@Model.SmallProducerFeeInPounds
															<input type="hidden" name="SmallProducerFee" value="@Model.SmallProducerFee" />
														</div>
													</div>
													<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-small-producer">
														<div class="govuk-form-group">
															@* @await Html.PartialAsync("Partials/Govuk/_FormItemError", errorsViewModel[nameof(SelectFeesViewModel.WavedSmallProducerFee)]) *@
															<label class="govuk-label" for="WavedSmallProducerFee">
																@SharedLocalizer["WaveFees.EnterWaiver"]
															</label>
															<div class="govuk-input__wrapper">
																<div class="govuk-input__prefix" aria-hidden="true">£</div>
																<input class="@(ViewData.ModelState.IsValid ? "govuk-input govuk-input--width-5" : "govuk-input govuk-input--width-5 govuk-input--error" )"
																	   id="WavedSmallProducerFee"
																	   name="WavedSmallProducerFee"
																	   type="number"
																	   min="0"
																	   value="@Model.WavedSmallProducerFee"
																	   aria-describedby="WavedSmallProducerFee" spellcheck="false">
															</div>
														</div>
													</div>
												</div>
											}

											@if (Model.LargeProducerSectionEnable)
											{
												<div class="govuk-checkboxes" data-module="govuk-checkboxes">
													<div class="govuk-checkboxes__item">
														<input class="govuk-checkboxes__input" id="IsLargeProducerChecked" name="IsLargeProducerChecked" asp-for="IsLargeProducerChecked"
															   type="checkbox" value="" aria-controls="conditional-large-prodcuer" aria-expanded="false">
														<label class="govuk-label govuk-checkboxes__label" for="IsLargeProducerChecked">
															@Model.LargeProducerCount  @SharedLocalizer["WaveFees.LargeProducers"]
															<input type="hidden" name="LargeProducerCount" value="@Model.LargeProducerCount" />
														</label>
														<div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
															@Model.LargeProducerFeeInPounds
															<input type="hidden" name="LargeProducerFee" value="@Model.LargeProducerFee" />
														</div>
													</div>
													<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-large-prodcuer">
														<div class="govuk-form-group">
															@* @await Html.PartialAsync("Partials/Govuk/_FormItemError", errorsViewModel[nameof(SelectFeesViewModel.WavedLargeProducerFee)]) *@
															<label class="govuk-label" for="WavedLargeProducerFee">
																@SharedLocalizer["WaveFees.EnterWaiver"]
															</label>
															<div class="govuk-input__wrapper">
																<div class="govuk-input__prefix" aria-hidden="true">£</div>
																<input class="@(ViewData.ModelState.IsValid ? "govuk-input govuk-input--width-5" : "govuk-input govuk-input--width-5 govuk-input--error" )"
																	   id="WavedLargeProducerFee"
																	   name="WavedLargeProducerFee"
																	   type="number"
																	   min="0"
																	   aria-describedby="WavedLargeProducerFee"
																	   value="@Model.WavedLargeProducerFee"
																	   aria-describedby="WavedLargeProducerFee"
																	   spellcheck="false">
															</div>
														</div>
													</div>
												</div>
											}

											@if (Model.OnlineMarketPlaceSectionEnable)
											{
												<div class="govuk-checkboxes" data-module="govuk-checkboxes">
													<div class="govuk-checkboxes__item">
														<input class="govuk-checkboxes__input" id="IsOnineMarketPlaceChecked" name="IsOnineMarketPlaceChecked" type="checkbox"
															   asp-for="IsOnineMarketPlaceChecked" aria-controls="conditional-online-market-place" aria-expanded="false">
														<label class="govuk-label govuk-checkboxes__label" for="IsOnineMarketPlaceChecked">
															@Model.OnlineMarketPlaceCount @SharedLocalizer["WaveFees.OnlineMarketPlaces"]
															<input type="hidden" name="OnlineMarketPlaceCount" value="@Model.OnlineMarketPlaceCount" />
														</label>
														<div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
															@Model.OnlineMarketPlaceFeeInPounds
															<input type="hidden" name="OnlineMarketPlaceFee" value="@Model.OnlineMarketPlaceFee" />
														</div>
													</div>
													<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-online-market-place">
														<div class="govuk-form-group">
															@* @await Html.PartialAsync("Partials/Govuk/_FormItemError", errorsViewModel[nameof(SelectFeesViewModel.WavedOnlineMarketPlaceFee)]) *@
															<label class="govuk-label" for="WavedOnlineMarketPlaceFee">
																@SharedLocalizer["WaveFees.EnterWaiver"]
															</label>
															<div class="govuk-input__wrapper">
																<div class="govuk-input__prefix" aria-hidden="true">
																	£
																</div>
																<input class="@(ViewData.ModelState.IsValid ? "govuk-input govuk-input--width-5" : "govuk-input govuk-input--width-5 govuk-input--error" )"
																	   id="WavedOnlineMarketPlaceFee"
																	   name="WavedOnlineMarketPlaceFee"
																	   type="number"
																	   min="0"
																	   value="@Model.WavedOnlineMarketPlaceFee"
																	   aria-describedby="WavedOnlineMarketPlaceFee"
																	   spellcheck="false">
															</div>
														</div>
													</div>
												</div>
											}

											@if (Model.SubsidiariesCompanySectionEnable)
											{
												<div class="govuk-checkboxes" data-module="govuk-checkboxes">
													<div class="govuk-checkboxes__item">
														<input class="govuk-checkboxes__input" id="IsSubsidiariesCompanyChecked"
															   name="IsSubsidiariesCompanyChecked" asp-for="IsSubsidiariesCompanyChecked"
															   type="checkbox" aria-controls="conditional-subsidiaries-company" aria-expanded="false">
														<label class="govuk-label govuk-checkboxes__label" for="IsSubsidiariesCompanyChecked">
															@Model.SubsidiariesCompanyCount @SharedLocalizer["WaveFees.SubsidiaryCompanies"]
															<input type="hidden" name="SubsidiariesCompanyCount" value="@Model.SubsidiariesCompanyCount" />
														</label>
														<div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
															@Model.SubsidiariesCompanyFeeInPounds
															<input type="hidden" name="SubsidiariesCompanyFee" value="@Model.SubsidiariesCompanyFee" />
														</div>
													</div>
													<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-subsidiaries-company">
														<div class="govuk-form-group">
															@* @await Html.PartialAsync("Partials/Govuk/_FormItemError", errorsViewModel[nameof(SelectFeesViewModel.WavedSubsidiariesCompanyFee)]) *@
															<label class="govuk-label" for="WavedSubsidiariesCompanyFee">
																@SharedLocalizer["WaveFees.EnterWaiver"]
															</label>
															<div class="govuk-input__wrapper">
																<div class="govuk-input__prefix" aria-hidden="true">£</div>
																<input class="@(ViewData.ModelState.IsValid ? "govuk-input govuk-input--width-5" : "govuk-input govuk-input--width-5 govuk-input--error" )"
																	   id="WavedSubsidiariesCompanyFee"
																	   name="WavedSubsidiariesCompanyFee"
																	   type="number"
																	   min="0"
																	   value="@Model.WavedSubsidiariesCompanyFee"
																	   aria-describedby="WavedSubsidiariesCompanyFee"
																	   spellcheck="false">
															</div>
														</div>
													</div>
												</div>
											}

											@if (Model.LateProducerSectionEnable)
											{
												<div class="govuk-checkboxes" data-module="govuk-checkboxes">
													<div class="govuk-checkboxes__item">
														<input class="govuk-checkboxes__input" id="IsLateProducerChecked" name="IsLateProducerChecked" asp-for="IsLateProducerChecked"
															   type="checkbox" aria-controls="conditional-late-prodcuer" aria-expanded="false">
														<label class="govuk-label govuk-checkboxes__label" for="IsLateProducerChecked">
															@Model.LateProducerCount @SharedLocalizer["WaveFees.LateProducers"]
															<input type="hidden" name="LateProducerCount" value="@Model.LateProducerCount" />
														</label>
														<div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
															@Model.LateProducerFeeInPounds
															<input type="hidden" name="LateProducerFee" value="@Model.LateProducerFee" />
														</div>
													</div>
													<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-late-prodcuer">
														<div class="govuk-form-group">
															@* @await Html.PartialAsync("Partials/Govuk/_FormItemError", errorsViewModel[nameof(SelectFeesViewModel.WavedLateProducerFee)]) *@
															<label class="govuk-label" for="WavedLateProducerFee">
																@SharedLocalizer["WaveFees.EnterWaiver"]
															</label>
															<div class="govuk-input__wrapper">
																<div class="govuk-input__prefix" aria-hidden="true">£</div>
																<input class="@(ViewData.ModelState.IsValid ? "govuk-input govuk-input--width-5" : "govuk-input govuk-input--width-5 govuk-input--error" )"
																	   id="WavedLateProducerFee"
																	   name="WavedLateProducerFee"
																	   value="@Model.WavedLateProducerFee"
																	   type="number"
																	   min="0"
																	   aria-describedby="WavedLateProducerFee"
																	   spellcheck="false">
															</div>
														</div>
													</div>
												</div>
											}

										</fieldset>
									</div>
								}


								@if (Model.IsProducerSelected)
								{
									<div class="govuk-form-group">
										<fieldset class="govuk-fieldset" aria-describedby="contact-hint">
											<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
												<h2 class="govuk-heading-m">
													Application fee
												</h2>
											</legend>
											<div class="govuk-checkboxes" data-module="govuk-checkboxes">
												<div class="govuk-checkboxes__item">
													<input class="govuk-checkboxes__input" id="IsComplianceSchemeChecked" asp-for="IsComplianceSchemeChecked"
														   name="IsComplianceSchemeChecked"
														   type="checkbox" aria-controls="conditional-compliance-waiver" aria-expanded="true">
													<label class="govuk-label govuk-checkboxes__label" asp-for="IsComplianceSchemeChecked">
														Compliance scheme
													</label>
													<div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
														£@Model.ApplicationFee
														<input type="hidden" name="ApplicationFee" value="@Model.ApplicationFee" />
													</div>
													<div class="govuk-checkboxes__conditional" id="conditional-compliance-waiver">
														<div class="govuk-form-group">
															@* @await Html.PartialAsync("Partials/Govuk/_FormItemError", errorsViewModel[nameof(SelectFeesViewModel.WavedComplianceSchemeAmount)]) *@
															<label class="govuk-label" for="WavedComplianceSchemeAmount">
																@Localizer["WaveFees.EnterWaiver"]
															</label>
															<div class="govuk-input__wrapper">
																<div class="govuk-input__prefix" aria-hidden="true">£</div>
																<input class="@(ViewData.ModelState.IsValid ? "govuk-input govuk-input--width-5" : "govuk-input govuk-input--width-5 govuk-input--error" )"
																	   id="WavedComplianceSchemeAmount" value="@Model.WavedComplianceSchemeAmount" aria-describedby="WavedComplianceSchemeAmount"
																	   name="WavedComplianceSchemeAmount" type="text" spellcheck="false">
															</div>
														</div>
													</div>
												</div>
											</div>
										</fieldset>
									</div>
								}
							</div>
						</fieldset>
					</div>
				</div>
			</div>

			<div class="govuk-grid-row">
				<div class="govuk-grid-column-full">
					<button class="govuk-button" data-module="govuk-button">
						@SharedLocalizer["Continue"]
					</button>
				</div>
			</div>
		</main>
	</div>
}

@* <div class="govuk-width-container">
	<main class="govuk-main-wrapper" id="main-content" role="main">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-full">
				<div class="govuk-form-group">
					<fieldset class="govuk-fieldset" aria-describedby="waste-hint">
						<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
							<h1 class="govuk-fieldset__heading">
								@Localizer["WaveFees.WhichFees"]
							</h1>
						</legend>
						<div id="waste-hint" class="govuk-hint">
							Select all that apply
						</div>
						<fieldset class="govuk-fieldset" aria-describedby="waste-hint">
							<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
								<h1 class="govuk-fieldset__heading">
									Application fee
								</h1>
							</legend>
							@if (Model.ApplicationFee > 0)
							{
								<div class="govuk-checkboxes" data-module="govuk-checkboxes">
									<div class="govuk-checkboxes__item">
										<input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
										<label class="govuk-label govuk-checkboxes__label" for="compliancescheme">
											Compliance scheme
										</label>
										<div class="govuk-hint govuk-checkboxes__hint">
											£@Model.ApplicationFee
										</div>
									</div>
								</div>
							}
						</fieldset>

						@if(Model.SchemeMembers)
						{
							<fieldset class="govuk-fieldset" aria-describedby="waste-hint">
								<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
									<h1 class="govuk-fieldset__heading">
										Scheme members
									</h1>
								</legend>
								@if (Model.SmallProducerCount > 0)
								{
									<div class="govuk-checkboxes__item">
										<input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
										<label class="govuk-label govuk-checkboxes__label" for="waste-2">
											@Model.SmallProducerCount Small producers
										</label>
										<div class="govuk-hint govuk-checkboxes__hint">
											£@Model.SmallProducerFee
										</div>
									</div>
								}

								@if (Model.LargeProducerCount > 0)
								{
									<div class="govuk-checkboxes__item">
										<input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
										<label class="govuk-label govuk-checkboxes__label" for="waste-3">
											@Model.LargeProducerCount Large producers
										</label>
										<div class="govuk-hint govuk-checkboxes__hint">
											£@Model.LargeProducerFee
										</div>
									</div>
								}

								@if (Model.OnlineMarketPlaceCount > 0)
								{
									<div class="govuk-checkboxes__item">
										<input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
										<label class="govuk-label govuk-checkboxes__label" for="waste-3">
											@Model.OnlineMarketPlaceCount Online marketplaces
										</label>
										<div class="govuk-hint govuk-checkboxes__hint">
											£@Model.OnlineMarketPlaceFee
										</div>
									</div>
								}

								@if (Model.SubsidiariesCompanyCount > 0)
								{
									<div class="govuk-checkboxes__item">
										<input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
										<label class="govuk-label govuk-checkboxes__label" for="waste-3">
											@Model.SubsidiariesCompanyCount subsidary companpanies
										</label>
										<div class="govuk-hint govuk-checkboxes__hint">
											£@Model.SubsidiariesCompanyFee
										</div>
									</div>
								}

								@if (Model.LateProducerCount > 0)
								{
									<div class="govuk-checkboxes__item">
										<input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
										<label class="govuk-label govuk-checkboxes__label" for="waste-3">
											@Model.LateProducerCount Late producer fees
										</label>
										<div class="govuk-hint govuk-checkboxes__hint">
											£@Model.LateProducerFee
										</div>
									</div>
								}

							</fieldset>

						}



					</fieldset>
				</div>

				@Html.ActionLink("Continue", "WaiverReason", new { }, new { @class = "govuk-button" })

			</div>
		</div>
	</main>
</div> *@
