@using EPR.RegulatorService.Frontend.Core.Extensions
@using EPR.RegulatorService.Frontend.Web.Extensions
@using EPR.RegulatorService.Frontend.Web.ViewModels.RegistrationSubmissions
@using System.Globalization
@using EPR.RegulatorService.Frontend.Web.ViewModels.Shared.GovUK

@model PaymentDetailsViewModel
@{
    var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
}
<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper" style="align-items: center;">
        <h2 class="govuk-summary-card__title">@Localizer["PaymentDetails.Title"]</h2>
        <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"></li>
        </ul>
    </div>
    <div class="govuk-summary-card__content" style="padding-bottom: 0px;">
        <dl class="govuk-summary-list govuk-!-margin-bottom-4">

            <div class="govuk-summary-list__row" style="display: flex; justify-content: space-between;">
                <dd class="govuk-summary-list__value" style="width: 285px;">
                    <strong>@Localizer["PaymentDetails.Items"]</strong>
                </dd>
                <dd class="govuk-summary-list__value" style="width: 410px;">
                    <strong>@Localizer["PaymentDetails.Description"]</strong>
                </dd>
                <dd class="govuk-summary-list__actions" style="text-align: right; flex-grow: 1;">
                    <strong>@Localizer["PaymentDetails.Amount"]</strong>
                </dd>
            </div>

            <div class="govuk-summary-list__row" style="display: flex; justify-content: space-between;">
                <dd class="govuk-summary-list__value" style="width: 285px;">
                    <strong>@Localizer["PaymentDetails.ChargeableItems"]</strong>
                </dd>
                <dd class="govuk-summary-list__value" style="width: 410px;"></dd>
                <dd class="govuk-summary-list__actions" style="text-align: right; flex-grow: 1;"></dd>
            </div>

            <div class="govuk-summary-list__row" style="display: flex; justify-content: space-between;">
                <dd class="govuk-summary-list__value" style="width: 285px;">
                    @Localizer["PaymentDetails.ApplicationProcessingFee"]
                </dd>
                <dd class="govuk-summary-list__value" style="width: 410px;">
                    @Localizer["PaymentDetails.FeeForProducerSize"]
                </dd>
                <payment-amount amount="@Model.ApplicationProcessingFee"></payment-amount>
            </div>

            <div class="govuk-summary-list__row" style="display: flex; justify-content: space-between;">
                <dd class="govuk-summary-list__value" style="width: 285px;">
                    @Localizer["PaymentDetails.OnlineMarketplaceFee"]
                </dd>
                <dd class="govuk-summary-list__value" style="width: 410px;">
                    @Localizer["PaymentDetails.FeeForOwningAnOnlineMarketplace"]
                </dd>
                <payment-amount amount="@Model.OnlineMarketplaceFee"></payment-amount>
            </div>

            <div class="govuk-summary-list__row" style="display: flex; justify-content: space-between;">
                <dd class="govuk-summary-list__value" style="width: 285px;">
                    @Localizer["PaymentDetails.SubsidiaryFee"]
                </dd>
                <dd class="govuk-summary-list__value" style="width: 410px;">
                    @Localizer["PaymentDetails.FeeForSubsidiaryOnlineMarketPlace"]
                </dd>
                <payment-amount amount="@Model.SubsidiaryFee"></payment-amount>
            </div>

            <div class="govuk-summary-list__row" style="display: flex; justify-content: space-between;">
                <dd class="govuk-summary-list__value" style="width: 285px;">
                    <strong>@Localizer["PaymentDetails.TotalChargeableItems"]</strong>
                </dd>
                <dd class="govuk-summary-list__value" style="width: 410px;"></dd>
                <payment-amount amount="@Model.TotalChargeableItems" property-name="TotalChargeableItems"></payment-amount>
            </div>

            <div class="govuk-summary-list__row" style="display: flex; justify-content: space-between;">
                <dd class="govuk-summary-list__value" style="width: 285px;">
                    <strong>@Localizer["PaymentDetails.PreviousPaymentsReceived"]</strong>
                </dd>
                <dd class="govuk-summary-list__value" style="width: 410px;">
                    @Localizer["PaymentDetails.TotalPaymentsReceived"]
                </dd>
                <payment-amount amount="@Model.PreviousPaymentsReceived" property-name="PreviousPaymentsReceived"></payment-amount>
            </div>

            <div class="govuk-summary-list__row" style="display: flex; justify-content: space-between;">
                <dd class="govuk-summary-list__value" style="width: 285px;">
                    <strong>@Localizer["PaymentDetails.TotalOutstanding"]</strong>
                </dd>
                <dd class="govuk-summary-list__value" style="width: 410px;"></dd>
                <payment-amount amount="@Model.TotalOutstanding" property-name="TotalOutstanding"></payment-amount>
            </div>
        </dl>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"></hr>

        @using (Html.BeginRouteForm("SubmitPaymentInfo", new { organisationid = ViewBag.OrganisationId }, FormMethod.Post))
        {
            <div class="govuk-!-width-one-half govuk-form-group @(errorsViewModel.HasErrorKey(nameof(Model.OfflinePayment)) ? " govuk-form-group--error" : "")">
                <label class="govuk-label" for="@nameof(Model.OfflinePayment)">
                    @Localizer["PaymentDetails.OfflinePaymentDetailsTitle"]
                </label>
                <br>
                <div id="@nameof(Model.OfflinePayment)-hint" class="govuk-hint">
                    @Localizer["PaymentDetails.OfflinePaymentDetailsHint"]
                </div>
                @(await Html.PartialAsync("Partials/Govuk/_FormItemError", errorsViewModel[nameof(PaymentDetailsViewModel.OfflinePayment)]))
                <div class="govuk-input__wrapper">
                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                    <input class="govuk-input govuk-input--width-10 @(errorsViewModel.HasErrorKey(nameof(Model.OfflinePayment)) ? " govuk-input--error" : "")"
                    id="@nameof(Model.OfflinePayment)"
                    name="@nameof(Model.OfflinePayment)"
                    placeholder="0.00"
                    type="text"
                    value="@Model.OfflinePayment"
                    autofocus="autofocus"
                    spellcheck="false"
                    aria-describedby="@nameof(Model.OfflinePayment)-hint">
                </div>
                <button type="submit"
                        class="govuk-button epr-horizontal-control epr-horizontal-control-button govuk-!-margin-right-6"
                        data-module="govuk-button">
                    @Localizer["PaymentDetails.OfflinePaymentDetailsSubmit"]
                </button>
            </div>
        }
    </div>
</div>
