@using EPR.RegulatorService.Frontend.Core.Extensions
@using EPR.RegulatorService.Frontend.Web.ViewModels.RegistrationSubmissions
@using System.Globalization

@model PaymentDetailsViewModel

<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper" style="align-items: center;">
        <h2 class="govuk-summary-card__title">@Localizer["PaymentDetails.Title"]</h2>
        <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"></li>
        </ul>
    </div>
    <div class="govuk-summary-card__content" style="padding-bottom: 0px;">
        <dl class="govuk-summary-list govuk-!-margin-bottom-4">
            <div class="govuk-summary-list__row" style="display: flex; justify-content: space-between;">
                <dd class="govuk-summary-list__value" style="width: 285px;">
                    <strong>@Localizer["PaymentDetails.Items"]</strong>
                </dd>
                <dd class="govuk-summary-list__value" style="width: 410px;">
                    <strong>@Localizer["PaymentDetails.Description"]</strong>
                </dd>
                <dd class="govuk-summary-list__actions" style="text-align: right; flex-grow: 1;">
                    <strong>@Localizer["PaymentDetails.Amount"]</strong>
                </dd>
            </div>
            <div class="govuk-summary-list__row" style="display: flex; justify-content: space-between;">
                <dd class="govuk-summary-list__value" style="width: 285px;">
                    <strong>@Localizer["PaymentDetails.ChargeableItems"]</strong>
                </dd>
                <dd class="govuk-summary-list__value" style="width: 410px;"></dd>
                <dd class="govuk-summary-list__actions" style="text-align: right; flex-grow: 1;"></dd>
            </div>
            <div class="govuk-summary-list__row" style="display: flex; justify-content: space-between;">
                <dd class="govuk-summary-list__value" style="width: 285px;">
                    @Localizer["PaymentDetails.ApplicationProcessingFee"]
                </dd>
                <dd class="govuk-summary-list__value" style="width: 410px;">
                    @Localizer["PaymentDetails.FeeForProducerSize"]
                </dd>
                <payment-amount amount="@Model.ApplicationProcessingFee"></payment-amount>
            </div>
            <div class="govuk-summary-list__row" style="display: flex; justify-content: space-between;">
                <dd class="govuk-summary-list__value" style="width: 285px;">
                    @Localizer["PaymentDetails.OnlineMarketplaceFee"]
                </dd>
                <dd class="govuk-summary-list__value" style="width: 410px;">
                    @Localizer["PaymentDetails.FeeForOwningAnOnlineMarketplace"]
                </dd>
                <payment-amount amount="@Model.OnlineMarketplaceFee"></payment-amount>
            </div>
            <div class="govuk-summary-list__row" style="display: flex; justify-content: space-between;">
                <dd class="govuk-summary-list__value" style="width: 285px;">
                    @Localizer["PaymentDetails.SubsidiaryFee"]
                </dd>
                <dd class="govuk-summary-list__value" style="width: 410px;">
                    @Localizer["PaymentDetails.FeeForSubsidiaryOnlineMarketPlace"]
                </dd>
                <payment-amount amount="@Model.SubsidiaryFee"></payment-amount>
            </div>
            <div class="govuk-summary-list__row" style="display: flex; justify-content: space-between;">
                <dd class="govuk-summary-list__value" style="width: 285px;">
                    <strong>@Localizer["PaymentDetails.TotalChargeableItems"]</strong>
                </dd>
                <dd class="govuk-summary-list__value" style="width: 410px;"></dd>
                <payment-amount amount="@Model.TotalChargeableItems" property-name="TotalChargeableItems"></payment-amount>
            </div>
            <div class="govuk-summary-list__row" style="display: flex; justify-content: space-between;">
                <dd class="govuk-summary-list__value" style="width: 285px;">
                    <strong>@Localizer["PaymentDetails.PreviousPaymentsReceived"]</strong>
                </dd>
                <dd class="govuk-summary-list__value" style="width: 410px;">
                    @Localizer["PaymentDetails.TotalPaymentsReceived"]
                </dd>
                <payment-amount amount="@Model.PreviousPaymentsReceived" property-name="PreviousPaymentsReceived"></payment-amount>
            </div>
            <div class="govuk-summary-list__row" style="display: flex; justify-content: space-between;">
                <dd class="govuk-summary-list__value" style="width: 285px;">
                    <strong>@Localizer["PaymentDetails.TotalOutstanding"]</strong>
                </dd>
                <dd class="govuk-summary-list__value" style="width: 410px;"></dd>
                <payment-amount amount="@Model.TotalOutstanding" property-name="TotalOutstanding"></payment-amount>
            </div>
        </dl>
    </div>
</div>

